{{ define "page" }}
  <div class="container mt-2">
    <div class="d-md-flex py-2 justify-content-md-between">
      <h1 class="h4 mb-1 mb-md-0"><i class="fas fa-table mx-2"></i> Validator xy</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb font-size-1 mb-0" style="padding:0; background-color:transparent;">
          <li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
          <li class="breadcrumb-item"><a href="/validators" title="Validators">Validators</a></li>
          <li class="breadcrumb-item active" aria-current="page">Validator details</li>
        </ol>
      </nav>
    </div>

    <div class="card mt-2">
      <div id="header-placeholder" style="height:45px;"></div>
      <div class="card-body px-0 py-3">
        
        
      </div>
      <div id="footer-placeholder" style="height:71px;"></div>
    </div>
  </div>
{{ end }}
{{ define "js" }}
{{ end }}
{{ define "css" }}
{{ end }}