{{ define "page" }}
  <div class="container mt-2">
    <div class="d-md-flex py-2 justify-content-md-between">
      <h1 class="h4 mb-1 mb-md-0"><i class="fas fa-table mx-2"></i> Validator {{ formatValidatorNameWithIndex .Index .Name }}</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb font-size-1 mb-0" style="padding:0; background-color:transparent;">
          <li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
          <li class="breadcrumb-item"><a href="/validators" title="Validators">Validators</a></li>
          <li class="breadcrumb-item active" aria-current="page">Validator details</li>
        </ol>
      </nav>
    </div>

    <div class="card mt-2">
      <div class="card-body px-0 py-3">

        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2 d-flex" style="flex-direction: column; justify-content: flex-end;">
            <span data-bs-toggle="tooltip" data-bs-placement="top" title="Validator Lifecycle Status">Status:</span>
          </div>
          <div class="col-md-10">
            <!-- Validator lifecycle -->
            <div class="validator__lifecycle-container">
              <div class="validator__lifecycle-content">
                <div id="lifecycle-deposited" class="validator__lifecycle-node-container validator__lifecycle-deposited {{ if .ShowEligible }}done{{ else }}active{{ end }}">
                  <div class="validator__lifecycle-node-header">Deposited</div>
                  <div class="validator__lifecycle-node" data-bs-toggle="tooltip" title="This will turn green when your deposit has been processed by the beacon chain">
                    <i class="fas fa-check deposit-success"></i>
                    <i class="fas fa-times fail deposit-fail"></i>
                    <div class="spinner">
                      <div class="double-bounce1"></div>
                      <div class="double-bounce2"></div>
                    </div>
                  </div>
                </div>
                <div class="validator__lifecycle-progress validator__lifecycle-deposited text-white">
                  <div class="validator__lifecycle-progress-epoch">
                    {{ if .ShowEligible }}
                    <div data-bs-toggle="tooltip" title="The eligible epoch is when your validator is registered by the beacon chain and joins the queue to be activated.">
                      <a href="/epoch/{{ .EligibleEpoch }}">{{ if eq .EligibleEpoch 0 }}genesis{{ else }}{{ .EligibleEpoch }}{{ end }}</a>
                    </div>
                    {{ end }}
                  </div>
                </div>
                <div id="lifecycle-pending" class="validator__lifecycle-node-container validator__lifecycle-pending {{ if .ShowActivation }}{{ if ge .CurrentEpoch .ActivationEpoch }}done{{ else }}active{{ end }}{{ end }}">
                  <div class="validator__lifecycle-node-container">
                    <div class="validator__lifecycle-node-header">Pending</div>
                    <div class="validator__lifecycle-node" data-bs-toggle="tooltip" title="After being processed your validator joins a queue to be activated">
                      <i class="fas fa-hourglass-half pending-waiting"></i>
                      <i class="fas fa-check"></i>
                      <div class="spinner">
                        <div class="double-bounce1"></div>
                        <div class="double-bounce2"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="validator__lifecycle-progress validator__lifecycle-pending">
                  <div class="validator__lifecycle-progress-epoch">
                    {{ if .ShowActivation }}
                      <div data-bs-toggle="tooltip" title="The activation epoch is when your validator becomes active.">
                        <a href="/epoch/{{ .ActivationEpoch }}">{{ if eq .ActivationEpoch 0 }}genesis{{ else }}{{ .ActivationEpoch }}{{ end }}</a>
                      </div>
                    {{ end }}
                  </div>
                </div>
                <div id="lifecycle-active" class="validator__lifecycle-node-container validator__lifecycle-active {{ if .IsActive }}{{ if gt .UpcheckActivity 0 }}online{{ else }}offline{{ end }}{{ else if .WasActive }}done{{ end }}">
                  <div class="validator__lifecycle-node-container">
                    <div class="validator__lifecycle-node-header">Active</div>
                    <div class="validator__lifecycle-node" data-bs-toggle="tooltip" title="Once your validator reaches this state it can participate in attesting and proposing. Make sure it stays online!">
                      <i class="fas fa-power-off online"></i>
                      <i class="fas fa-power-off offline"></i>
                      <i class="fas fa-check"></i>
                      <div class="spinner">
                        <div class="double-bounce1"></div>
                        <div class="double-bounce2"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="validator__lifecycle-progress validator__lifecycle-active">
                  <div class="validator__lifecycle-progress-epoch">
                    {{ if .ShowExit }}
                      <div data-bs-toggle="tooltip" title="The exit epoch is when your validator will leave the network">
                        <a href="/epoch/{{ .ExitEpoch }}">{{ .ExitEpoch }}</a>
                      </div>
                    {{ end }}
                  </div>
                </div>
                <div id="lifecycle-exited" class="validator__lifecycle-node-container validator__lifecycle-exited {{ if .ShowExit }}{{ if ge .CurrentEpoch .ExitEpoch }}done{{ else }}active{{ end }}{{ end }}">
                  <div class="validator__lifecycle-node-container">
                    <div class="validator__lifecycle-node-header">Exited</div>
                    <div class="validator__lifecycle-node" data-bs-toggle="tooltip" title="If your validator misbehaves or chooses to leave the network it will join a queue to leave.">
                      <i class="fas fa-door-open"></i>
                      <div class="spinner">
                        <div class="double-bounce1"></div>
                        <div class="double-bounce2"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Represents the index for this validator in the beacon chain">Index:</span></div>
          <div class="col-md-10">
            {{ formatValidatorNameWithIndex .Index .Name }}
            <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="{{ .Index }}"></i>
          </div>
        </div>
        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Represents the public key for this validator">Public Key:</span></div>
          <div class="col-md-10 text-monospace">
            0x{{ printf "%x" .PublicKey }}
            <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" .PublicKey }}"></i>
          </div>
        </div>
        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="The current status for this validator">Status:</span></div>
          <div class="col-md-10">
            {{ .BeaconState }}
          </div>
        </div>
        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Represents the full balance for this validator (Epoch {{ .CurrentEpoch }})">Balance:</span></div>
          <div class="col-md-10">
            {{ formatEthFromGwei .Balance }}
            <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="{{ formatEthFromGwei .Balance }}"></i>
          </div>
        </div>
        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Represents the full balance for this validator (Epoch {{ .CurrentEpoch }})">Effective Balance:</span></div>
          <div class="col-md-10">
            {{ formatEthAddCommasFromGwei .EffectiveBalance }} {{ tokenSymbol }}
          </div>
        </div>
        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Represents the current withdrawal credentials for this validator">W/Credentials:</span></div>
          <div class="col-md-10 text-monospace">
            0x{{ printf "%x" .WithdrawCredentials }}
            <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" .WithdrawCredentials }}"></i>
          </div>
        </div>
        {{ if .ShowWithdrawAddress }}
        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Represents the current withdrawal credentials for this validator">W/Address:</span></div>
          <div class="col-md-10">
            {{ ethAddressLink .WithdrawAddress }}
          </div>
        </div>
        {{ end }}
        {{ if .ExitReason }}
        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Reason why this validator is exiting or has exited">Exit Reason:</span></div>
          <div class="col-md-10">
            {{ if .ExitReasonSlashing }}
              Validator was slashed in <a href="/slot/{{ .ExitReasonSlot }}">slot {{ .ExitReasonSlot }}</a> 
              ({{ if eq .ExitReasonSlashingReason 1 }}Proposer Slashing{{ else if eq .ExitReasonSlashingReason 2 }}Attester Slashing{{ else }}Unknown Slashing{{ end }})
            {{ else if .ExitReasonVoluntaryExit }}
              Validator submitted a voluntary exit request in <a href="/slot/{{ .ExitReasonSlot }}">slot {{ .ExitReasonSlot }}</a>
            {{ else if .ExitReasonWithdrawal }}
              Validator submitted a full withdrawal request in <a href="/slot/{{ .ExitReasonSlot }}">slot {{ .ExitReasonSlot }}</a>
              {{ if .ExitReasonTxDetails }}
              <br/>
              <small class="text-muted">
                Transaction: {{ ethTransactionLink .ExitReasonTxHash 0 }}
                <i class="fa fa-info-circle text-muted ml-2 p-1 nojs-hide tx-details-btn" role="button" data-txdetails="{{ includeJSON .ExitReasonTxDetails true }}"></i>
              </small>
              {{ end }}
            {{ else if .ExitReasonConsolidation }}
              Validator was consolidated into validator {{ formatValidatorWithIndex .ExitReasonTargetIndex .ExitReasonTargetName }} (Requested in <a href="/slot/{{ .ExitReasonSlot }}">slot {{ .ExitReasonSlot }}</a>)
              {{ if .ExitReasonTxDetails }}
              <br/>
              <small class="text-muted">
                Transaction: {{ ethTransactionLink .ExitReasonTxHash 0 }} 
                <i class="fa fa-info-circle text-muted ml-2 p-1 nojs-hide tx-details-btn" role="button" data-txdetails="{{ includeJSON .ExitReasonTxDetails true }}"></i>
              </small>
              {{ end }}
            {{ else }}
              {{ .ExitReason }}
            {{ end }}
          </div>
        </div>
        {{ end }}
        
      </div>
    </div>


    <ul class="nav nav-tabs justify-content-start mt-3" id="tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link{{ if eq .TabView "blocks" }} active{{ end }}" id="recentBlocks-tab" data-lazy-tab="recentBlocks" data-bs-toggle="tab" data-bs-target="#recentBlocks" href="?v=blocks" role="tab" aria-controls="recentBlocks" aria-selected="{{ if eq .TabView "blocks" }}true{{ else }}false{{ end }}">
          <i class="fa fa-cubes me-2"></i> Recent Blocks
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link{{ if eq .TabView "attestations" }} active{{ end }}" id="recentAttestations-tab" data-lazy-tab="recentAttestations" data-bs-toggle="tab" data-bs-target="#recentAttestations" href="?v=attestations" role="tab" aria-controls="recentAttestations" aria-selected="{{ if eq .TabView "attestations" }}true{{ else }}false{{ end }}">
          <i class="fa fa-file-signature me-2"></i> Recent Attestations
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link{{ if eq .TabView "deposits" }} active{{ end }}" id="recentDeposits-tab" data-lazy-tab="recentDeposits" data-bs-toggle="tab" data-bs-target="#recentDeposits" href="?v=deposits" role="tab" aria-controls="recentDeposits" aria-selected="{{ if eq .TabView "deposits" }}true{{ else }}false{{ end }}">
          <i class="fa fa-wallet me-2"></i> Deposits
        </a>
      </li>
      {{ if .ElectraIsActive }}
      <li class="nav-item">
        <a class="nav-link{{ if eq .TabView "withdrawalrequests" }} active{{ end }}" id="recentWithdrawalRequests-tab" data-lazy-tab="recentWithdrawalRequests" data-bs-toggle="tab" data-bs-target="#recentWithdrawalRequests" href="?v=withdrawalrequests" role="tab" aria-controls="recentWithdrawalRequests" aria-selected="{{ if eq .TabView "withdrawalrequests" }}true{{ else }}false{{ end }}">
          <i class="fa fa-money-bill-transfer me-2"></i> Withdrawal Requests
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link{{ if eq .TabView "consolidationrequests" }} active{{ end }}" id="recentConsolidationRequests-tab" data-lazy-tab="recentConsolidationRequests" data-bs-toggle="tab" data-bs-target="#recentConsolidationRequests" href="?v=consolidationrequests" role="tab" aria-controls="recentConsolidationRequests" aria-selected="{{ if eq .TabView "consolidationrequests" }}true{{ else }}false{{ end }}">
          <i class="fa fa-square-plus me-2"></i> Consolidation Requests
        </a>
      </li>
      {{ end }}
    </ul>

    <div class="tab-content" id="tabContent">
      <div class="tab-pane fade{{ if eq .TabView "blocks" }} show active{{ end }}" id="recentBlocks" role="tabpanel" aria-labelledby="recentBlocks-tab" data-loaded="{{ if eq .TabView "blocks" }}true{{ else }}false{{ end }}">
        {{ if eq .TabView "blocks" }}
          {{ template "recentBlocks" . }}
        {{ end }}
      </div>
      <div class="tab-pane fade{{ if eq .TabView "attestations" }} show active{{ end }}" id="recentAttestations" role="tabpanel" aria-labelledby="recentAttestations-tab" data-loaded="{{ if eq .TabView "attestations" }}true{{ else }}false{{ end }}">
        {{ if eq .TabView "attestations" }}
          {{ template "recentAttestations" . }}
        {{ end }}
      </div>
      <div class="tab-pane fade{{ if eq .TabView "deposits" }} show active{{ end }}" id="recentDeposits" role="tabpanel" aria-labelledby="recentDeposits-tab" data-loaded="{{ if eq .TabView "deposits" }}true{{ else }}false{{ end }}">
        {{ if eq .TabView "deposits" }}
          {{ template "recentDeposits" . }}
        {{ end }}
      </div>
      {{ if .ElectraIsActive }}
      <div class="tab-pane fade{{ if eq .TabView "withdrawalrequests" }} show active{{ end }}" id="recentWithdrawalRequests" role="tabpanel" aria-labelledby="recentWithdrawalRequests-tab" data-loaded="{{ if eq .TabView "withdrawalrequests" }}true{{ else }}false{{ end }}">
        {{ if eq .TabView "withdrawalrequests" }}
          {{ template "withdrawalRequests" . }}
        {{ end }}
      </div>
      <div class="tab-pane fade{{ if eq .TabView "consolidationrequests" }} show active{{ end }}" id="recentConsolidationRequests" role="tabpanel" aria-labelledby="recentConsolidationRequests-tab" data-loaded="{{ if eq .TabView "consolidationrequests" }}true{{ else }}false{{ end }}">
        {{ if eq .TabView "consolidationrequests" }}
          {{ template "consolidationRequests" . }}
        {{ end }}
      </div>
      {{ end }}
    </div>

    {{ template "txDetails" . }}
  </div>
{{ end }}
{{ define "lazyPage" }}
  {{ if eq .TabView "blocks" }}
    {{ template "recentBlocks" . }}
  {{ else if eq .TabView "attestations" }}
    {{ template "recentAttestations" . }}
  {{ else if eq .TabView "deposits" }}
    {{ template "recentDeposits" . }}
  {{ else if eq .TabView "withdrawalrequests" }}
    {{ template "withdrawalRequests" . }}
  {{ else if eq .TabView "consolidationrequests" }}
    {{ template "consolidationRequests" . }}
  {{ else }}
    Unknown tab
  {{ end }}
{{ end }}
{{ define "js" }}
<script type="text/javascript">
  $(document).ready(function() {
    const tabEl = document.querySelectorAll('a[data-lazy-tab]')
    Array.from(tabEl).forEach(el => {
      el.addEventListener('click', onTabSelected);
    });

    function onTabSelected(event) {
      event.preventDefault();
      var tabId = event.target.getAttribute('data-lazy-tab');
      var tabEl = document.getElementById(tabId);
      if (!$(tabEl).data("loaded")) {
        $.get(event.target.getAttribute('href') + "&lazy=true", function(data) {
          $(tabEl).html(data);
          $(tabEl).data("loaded", true);
          explorer.initControls();
        });
      }

      var tab = new bootstrap.Tab(tabEl);
      tab.show();

      window.history.replaceState(null, document.title, "/validator/{{ .Index }}" + event.target.getAttribute('href'));
    }

  });
</script>
{{ template "txDetails-js" . }}
{{ end }}
{{ define "css" }}
<link rel="stylesheet" href="/css/validator.css" />
{{ template "txDetails-css" . }}
{{ end }}