{{ define "withdrawalRequests" }}
  <div class="card">
    <div class="card-body px-0 py-0">
      <div class="table-responsive px-0 py-0">
        <table class="table table-nobr" id="elRequests">
          <thead>
            <tr>
              <th>Slot</th>
              <th>Time</th>
              <th><span class="d-none d-lg-inline">Source </span>Address</th>
              <th><span class="d-none d-lg-inline">Request </span>Type</th>
              <th>Amount</th>
              <th>Transaction</th>
              <th><span class="d-none d-lg-inline">Incl. </span>Status</th>
            </tr>
          </thead>
          <tbody>
            {{ if gt .WithdrawalRequestCount 0 }}
              {{ range $i, $request := .WithdrawalRequests }}
                <tr>
                  {{ if not $request.IsIncluded }}
                    <td data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Withdrawal request not included in the beacon chain yet">?</td>
                  {{ else if eq $request.Status 2 }}
                    <td><a href="/slot/0x{{ printf "%x" $request.SlotRoot }}">{{ formatAddCommas $request.SlotNumber }}</a></td>
                  {{ else }}
                  <td><a href="/slot/{{ $request.SlotNumber }}">{{ formatAddCommas $request.SlotNumber }}</a></td>
                  {{- end }}
                  <td data-timer="{{ $request.Time.Unix }}"><span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ $request.Time }}">{{ formatRecentTimeShort $request.Time }}</span></td>
                  <td>
                    <div class="d-flex">
                      <span class="flex-grow-1 text-truncate" style="width: 150px;">{{ ethAddressLink $request.SourceAddr }}</span>
                      <div>
                        <i class="fa fa-copy text-muted ml-2 p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="{{ formatEthAddress $request.SourceAddr }}"></i>
                      </div>
                    </div>
                  </td>
                  <td>
                    {{- if eq $request.Amount 0 }}
                      Exit
                    {{- else }}
                      Withdrawal
                    {{- end }}
                  </td>
                  <td>{{ formatEthFromGwei $request.Amount }}</td>
                  <td>
                    {{- if $request.LinkedTransaction }}
                    <div class="d-flex">
                      <span class="flex-grow-1 text-truncate" style="width: 150px;">{{ ethTransactionLink $request.TransactionHash 0 }}</span>
                      <div>
                        <i class="fa fa-copy text-muted ml-2 p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" $request.TransactionHash }}"></i>
                      </div>
                      <div>
                        <i class="fa fa-info-circle text-muted ml-2 p-1 nojs-hide tx-details-btn" role="button" data-txdetails="{{ includeJSON $request.TransactionDetails true }}"></i>
                      </div>
                    </div>
                    {{- else }}
                    <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Corresponding withdrawal transaction has not been indexed yet.">?</span>
                    {{- end }}
                  </td>
                  <td>
                    {{ if eq $request.TxStatus 1 }}
                      <span class="badge rounded-pill text-bg-success">Tx Included</span>
                    {{ else if eq $request.TxStatus 2 }}
                      <span class="badge rounded-pill text-bg-info">Tx Orphaned</span>
                    {{ end }}
                    
                    {{ if eq $request.Status 0 }}
                      <span class="badge rounded-pill text-bg-secondary">Req. Pending</span>
                    {{ else if eq $request.Status 1 }}
                      <span class="badge rounded-pill text-bg-success">Req. Included</span>
                    {{ else if eq $request.Status 2 }}
                      <span class="badge rounded-pill text-bg-info">Req. Orphaned</span>
                    {{ end }}
                  </td>
                </tr>
              {{ end }}
              <tr>
                <td colspan="7" class="text-center">
                  {{ if gt .AdditionalWithdrawalRequestCount 0 }}
                    <a class="text-white" href="/validators/withdrawal_requests?f&f.pubkey=0x{{ printf "%x" .PublicKey }}">View {{ .AdditionalWithdrawalRequestCount }} more withdrawal requests</a>
                  {{ end }}
                </td>
              </tr>
            {{ else }}
              <tr style="height: 430px;">
                <td style="vertical-align: middle;" colspan="7">
                  <div class="img-fluid mx-auto p-3 d-flex align-items-center" style="max-height: 400px; max-width: 400px; overflow: hidden;">
                    {{ template "timeline_svg" }}
                  </div>
                </td>
              </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{{ end }}
