
.submit-deposit-modal {
    .deposit-error {
        text-wrap: wrap;
        word-break: break-word;
    }
}

.deposit-txs-modal {
    .tx-details-label {
        width: 150px;
        font-weight: bold;
    }
}
