{{ define "block_blobSidecar" }}
  {{ range $i, $blob := .Block.Blobs }}
    <div class="card my-2">
      <div class="card-body px-0 py-1">
        <div class="row border-bottom p-1 mx-0">
          <div class="col-md-12 text-center"><b>Blob Sidecar {{ $blob.Index }}</b></div>
        </div>
        <div class="row border-bottom p-1 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="KGZ Commitment">KGZ Commitment:</span></div>
          <div class="col-md-10 text-monospace">
            0x{{ printf "%x" $blob.KzgCommitment }} 
            <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" $blob.KzgCommitment }}"></i>
          </div>
        </div>
        {{ if $blob.HaveData }}
          <div class="row border-bottom p-1 mx-0">
            <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="KGZ Proof">KGZ Proof:</span></div>
            <div class="col-md-10 text-monospace">
              0x{{ printf "%x" $blob.KzgProof }} 
              <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" $blob.KzgProof }}"></i>
            </div>
          </div>
          <div class="row border-bottom p-1 mx-0">
            <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Blob Data">Data:</span></div>
            <div class="col-md-10 text-monospace">
              0x{{ printf "%x" $blob.BlobShort }}
              {{- if $blob.IsShort -}}...{{ end }} 
              <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" $blob.Blob }}"></i>
            </div>
          </div>
        {{ else }}
          <div class="blobloader-container" data-commitment="0x{{ printf "%x" $blob.KzgCommitment }}">
            <div class="row border-bottom p-1 mx-0">
              <div class="col text-center">
                <a class="btn btn-primary blobloader-button" href="?blob=0x{{ printf "%x" $blob.KzgCommitment }}#blobSidecars" role="button">Load Blob Data</a>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  {{ end }}
  <script type="text/javascript">
    $(function() {
      $(".blobloader-button").each(function() {
        var button = $(this);
        var container = button.closest(".blobloader-container");
        button.on("click", function(evt) {
          evt.preventDefault();
          if(button.hasClass("disabled")) return;
          button.attr("disabled", "disabled").addClass("disabled");
          var commitment = container.data("commitment");
          jQuery.get("/slot/0x{{ printf "%x" .Block.BlockRoot }}/blob/" + commitment).then(function(data, status) {
            if(status == "success")
              onSuccess(data);
            else
              onFail();
          }, onFail);
          function onFail() {
            button.attr("disabled", "").removeClass("disabled");
          }
          function onSuccess(data) {
            var blobShort = data.blob;
            if(blobShort.length > 1024 + 2) {
              blobShort = blobShort.substring(0, 1024 + 2) + "...";
            }
            var rowHtml = [
              '<div class="row border-bottom p-1 mx-0">',
                '<div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="KGZ Proof">KGZ Proof:</span></div>',
                '<div class="col-md-10 text-monospace">',
                  data.kzg_proof,
                  '<i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="' + data.kzg_proof + '"></i>',
                '</div>',
              '</div>',
              '<div class="row border-bottom p-1 mx-0">',
                '<div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Blob Data">Data:</span></div>',
                '<div class="col-md-10 text-monospace">',
                  blobShort,
                  '<i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="' + data.blob + '"></i>',
                '</div>',
              '</div>',
            ].join("");
            container.html(rowHtml);
            explorer.initControls();
          }
        });
      });

    });
  </script>
{{ end }}
