{{ define "block_blobSidecar" }}
  {{ range $i, $blob := .Block.Blobs }}
    <div class="card my-2">
      <div class="card-body px-0 py-1">
        <div class="row border-bottom p-1 mx-0">
          <div class="col-md-12 text-center"><b>Blob Sidecar {{ $blob.Index }}</b></div>
        </div>
        <div class="row border-bottom p-1 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="KZG Commitment">KZG Commitment:</span></div>
          <div class="col-md-10 text-monospace text-break">
            0x{{ printf "%x" $blob.KzgCommitment }}
            <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" $blob.KzgCommitment }}"></i>
          </div>
        </div>
        {{ if $blob.HaveData }}
          <div class="row border-bottom p-1 mx-0">
            <div class="col-md-2">
              <span data-bs-toggle="tooltip" data-bs-placement="top" title="Blob Data">Data:</span>
              <div class="btn-group btn-group-sm ms-2" role="group">
                <button type="button" class="btn btn-outline-secondary btn-sm blob-view-toggle active" data-mode="hex" data-blob-idx="{{ $blob.Index }}">Hex</button>
                <button type="button" class="btn btn-outline-secondary btn-sm blob-view-toggle" data-mode="ascii" data-blob-idx="{{ $blob.Index }}">ASCII</button>
              </div>
            </div>
            <div class="col-md-10">
              <div class="blob-data-container" data-blob-idx="{{ $blob.Index }}" data-blob-hex="{{ printf "%x" $blob.Blob }}">
                <pre class="blob-data-view text-monospace mb-0" style="max-height: 300px; overflow-y: auto; white-space: pre-wrap; word-break: break-all; background: var(--bs-tertiary-bg); padding: 0.5rem; border-radius: 0.25rem;">0x{{ printf "%x" $blob.BlobShort }}{{- if $blob.IsShort -}}...{{ end }}</pre>
              </div>
              <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" $blob.Blob }}"></i>
            </div>
          </div>
        {{ else }}
          <div class="blobloader-container" data-blob-idx="{{ $blob.Index }}">
            <div class="row border-bottom p-1 mx-0">
              <div class="col text-center">
                <a class="btn btn-primary blobloader-button" href="?blob={{ $blob.Index }}#blobSidecars" role="button">Load Blob Data</a>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  {{ end }}
  <script type="text/javascript">
    $(function() {
      function hexToAscii(hex) {
        var str = '';
        for (var i = 0; i < hex.length; i += 2) {
          var code = parseInt(hex.substr(i, 2), 16);
          str += (code >= 32 && code <= 126) ? String.fromCharCode(code) : '.';
        }
        return str;
      }

      function formatBlobData(hex, mode, maxLen) {
        if (mode === 'ascii') {
          var ascii = hexToAscii(hex);
          if (maxLen && ascii.length > maxLen) {
            return ascii.substring(0, maxLen) + '...';
          }
          return ascii;
        } else {
          if (maxLen && hex.length > maxLen * 2) {
            return '0x' + hex.substring(0, maxLen * 2) + '...';
          }
          return '0x' + hex;
        }
      }

      $(".blob-view-toggle").on("click", function() {
        var btn = $(this);
        var mode = btn.data("mode");
        var blobIdx = btn.data("blob-idx");
        var container = $(".blob-data-container[data-blob-idx='" + blobIdx + "']");
        var hex = container.data("blob-hex");
        var view = container.find(".blob-data-view");

        btn.siblings().removeClass("active");
        btn.addClass("active");

        view.text(formatBlobData(hex, mode, 512));
      });

      $(".blobloader-button").each(function() {
        var button = $(this);
        var container = button.closest(".blobloader-container");
        var blobIdx = container.data("blob-idx");
        button.on("click", function(evt) {
          evt.preventDefault();
          if(button.hasClass("disabled")) return;
          button.attr("disabled", "disabled").addClass("disabled");
          jQuery.get("/slot/0x{{ printf "%x" .Block.BlockRoot }}/blob/" + blobIdx).then(function(data, status) {
            if(status == "success")
              onSuccess(data);
            else
              onFail();
          }, onFail);
          function onFail() {
            button.attr("disabled", "").removeClass("disabled");
          }
          function onSuccess(data) {
            var blobHex = data.blob;
            var blobShort = blobHex;
            if(blobShort.length > 1024) {
              blobShort = blobShort.substring(0, 1024) + "...";
            }
            var rowHtml = [
              '<div class="row border-bottom p-1 mx-0">',
                '<div class="col-md-2">',
                  '<span data-bs-toggle="tooltip" data-bs-placement="top" title="Blob Data">Data:</span>',
                  '<div class="btn-group btn-group-sm ms-2" role="group">',
                    '<button type="button" class="btn btn-outline-secondary btn-sm blob-view-toggle active" data-mode="hex" data-blob-idx="' + blobIdx + '">Hex</button>',
                    '<button type="button" class="btn btn-outline-secondary btn-sm blob-view-toggle" data-mode="ascii" data-blob-idx="' + blobIdx + '">ASCII</button>',
                  '</div>',
                '</div>',
                '<div class="col-md-10">',
                  '<div class="blob-data-container" data-blob-idx="' + blobIdx + '" data-blob-hex="' + blobHex + '">',
                    '<pre class="blob-data-view text-monospace mb-0" style="max-height: 300px; overflow-y: auto; white-space: pre-wrap; word-break: break-all; background: var(--bs-tertiary-bg); padding: 0.5rem; border-radius: 0.25rem;">0x' + blobShort + '</pre>',
                  '</div>',
                  '<i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x' + blobHex + '"></i>',
                '</div>',
              '</div>',
            ].join("");
            container.html(rowHtml);

            // Re-bind click handlers for the new toggle buttons
            container.find(".blob-view-toggle").on("click", function() {
              var btn = $(this);
              var mode = btn.data("mode");
              var idx = btn.data("blob-idx");
              var cont = $(".blob-data-container[data-blob-idx='" + idx + "']");
              var hex = cont.data("blob-hex");
              var view = cont.find(".blob-data-view");

              btn.siblings().removeClass("active");
              btn.addClass("active");

              if (mode === 'ascii') {
                var ascii = '';
                for (var i = 0; i < hex.length; i += 2) {
                  var code = parseInt(hex.substr(i, 2), 16);
                  ascii += (code >= 32 && code <= 126) ? String.fromCharCode(code) : '.';
                }
                if (ascii.length > 512) ascii = ascii.substring(0, 512) + '...';
                view.text(ascii);
              } else {
                var short = hex.length > 1024 ? hex.substring(0, 1024) + '...' : hex;
                view.text('0x' + short);
              }
            });

            explorer.initControls();
          }
        });
      });
    });
  </script>
{{ end }}
