{{ define "block_builder_deposit_requests" }}
  <div class="table-ellipsis">
    <table id="block_builder_deposits" class="table table-sm text-left">
      <thead>
        <tr>
          <th class="border-0">Builder</th>
          <th class="border-0">Public Key</th>
          <th class="border-0">Withdrawal Credentials</th>
          <th class="border-0">Amount</th>
        </tr>
      </thead>
      <tbody>
        {{ range $i, $req := .Block.BuilderDepositRequests }}
          <tr>
            <td>
              {{- if $req.HasBuilderIndex }}
                {{ formatBuilderWithIndex $req.BuilderIndex "" }}
              {{- else }}
                <span class="text-muted">-</span>
              {{- end }}
            </td>
            <td class="text-monospace">
              <div class="ellipsis-copy-btn">
                <i class="fa fa-copy text-muted ml-2 p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" $req.PublicKey }}"></i>
              </div>
              0x{{ printf "%x" $req.PublicKey }}
            </td>
            <td class="text-monospace">
              <div class="ellipsis-copy-btn">
                <i class="fa fa-copy text-muted ml-2 p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" $req.WithdrawalCreds }}"></i>
              </div>
              {{ formatWithdawalCredentials $req.WithdrawalCreds }}
            </td>
            <td>{{ formatEthFromGwei $req.Amount }}</td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
{{ end }}
