{{ define "block_consolidations" }}
  <div class="table-ellipsis px-0">
    <table class="table" id="block_consolidations">
      <thead>
        <tr>
          <th>Source Index</th>
          <th>Target Index</th>
          <th>Epoch</th>
        </tr>
      </thead>
      <tbody>
        {{ range $i, $consolidation := .Block.Consolidations }}
          <tr>
            <td>{{ formatValidator $consolidation.SourceIndex $consolidation.SourceName }}</td>
            <td>{{ formatValidator $consolidation.TargetIndex $consolidation.TargetName }}</td>
            <td>{{ $consolidation.Epoch }}</td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
{{ end }}
