{{ define "block_overview" }}
  <div class="card-body px-0 py-1">
    <div class="row border-bottom p-2 mx-0">
      <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Represents the number of 32 slots">Epoch:</span></div>
      <div class="col-md-10">
        <a href="/epoch/{{ .Epoch }}">{{ formatAddCommas .Epoch }}</a>
        <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="{{ .Epoch }}"></i></div>
    </div>
    <div class="row border-bottom p-2 mx-0">
      <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="A slot is a chance for a block to be added to the Beacon Chain and shards">Slot:</span></div>
      <div class="col-md-10">
        <a href="/slot/{{ .Slot }}"><b>{{ formatAddCommas .Slot }}</b></a>
        <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="{{ .Slot }}"></i>
      </div>
    </div>
    
    <div class="row border-bottom p-2 mx-0">
      <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Represents the current state of the block">Status:</span></div>
      <div class="col-md-10">
        {{ if ne .Slot 0 }}
          {{ if eq .Status 0 }}
            {{ if .Future }}
              <span class="badge rounded-pill text-bg-secondary" style="font-size: 12px; font-weight: 500;">Scheduled</span>
            {{ else }}
              <span class="badge rounded-pill text-bg-warning" style="font-size: 12px; font-weight: 500;">Missed</span>
            {{ end }}
          {{ else if eq .Status 1 }}
            <span class="badge rounded-pill text-bg-success" style="font-size: 12px; font-weight: 500;">Proposed</span>
          {{ else if eq .Status 2 }}
            <span class="badge rounded-pill text-bg-info" style="font-size: 12px; font-weight: 500;">Missed (Orphaned)</span>
          {{ end }}

          {{ if .EpochFinalized }}
            <span data-html="true" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="This block can't be reverted without manual intervention by all participants." data-container="body">
              <span class="badge text-bg-success px-1"><i class="fas fa-check-double"></i> Finalized</span>
            </span>
          {{ else }}
            <span data-html="true" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="This block can still be reverted and shouldn't be considered final." data-container="body">
              <span class="badge text-bg-secondary px-1"><i class="fas fa-exclamation-circle"></i> Not Finalized</span>
            </span>
          {{ end }}
        {{ else }}
          <span class="badge text-bg-light">Genesis</span>
        {{ end }}
      </div>
    </div>
    <div class="row border-bottom p-2 mx-0">
      <div class="col-md-2">Time:</div>
      <div class="col-md-10 d-flex justify-between flex-wrap">
        <div>
          <span aria-ethereum-date="{{ .Ts.Unix }}" aria-ethereum-date-format="FROMNOW">{{ .Ts }}</span>
          (<span id="timestamp" aria-ethereum-date="{{ .Ts.Unix }}" aria-ethereum-date-format="LOCAL" data-timer="{{ .Ts.Unix }}">{{ formatRecentTimeShort .Ts }}</span>)
          <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="{{ .Ts }}"></i>
        </div>

      </div>
    </div>
    {{ if ne .Slot 0 }}
      <div class="row border-bottom p-2 mx-0">
        <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="A chosen validator by the beacon chain to propose the next block">Proposer:</span></div>
        <div class="col-md-10">{{ formatValidatorWithIndex .Proposer .ProposerName }}</div>
      </div>
    {{ end }}

    {{ if .Block }}
      <div class="row border-bottom p-2 mx-0">
        <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="The hash-tree-root of the BeaconBlock">Block Root:</span></div>
        <div class="col-md-10 text-monospace text-break">
          0x{{ printf "%x" .Block.BlockRoot }} 
          <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" .Block.BlockRoot }}"></i>
        </div>
      </div>
      {{ if ne .Slot 0 }}
        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="The hash pointing to the previous block">Parent Root:</span></div>
          <div class="col-md-10 text-monospace text-break">
            <a href="/slot/{{ printf "%x" .Block.ParentRoot }}">0x{{ printf "%x" .Block.ParentRoot }}</a>
            <i style="padding: .25rem;" class="fa fa-copy text-muted" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" .Block.ParentRoot }}"></i>
          </div>
        </div>
      {{ end }}
      <div class="row border-bottom p-2 mx-0">
        <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="The hash-tree-root of the BeaconState">State Root:</span></div>
        <div class="col-md-10 text-monospace text-break">
          0x{{ printf "%x" .Block.StateRoot }} 
          <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" .Block.StateRoot }}"></i>
        </div>
      </div>
      {{ if .Block.BodyRoot }}
        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="The hash-tree-root of the BeaconBlockBody">Body Root:</span></div>
          <div class="col-md-10 text-monospace text-break">
            0x{{ printf "%x" .Block.BodyRoot }} 
            <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" .Block.BodyRoot }}"></i>
          </div>
        </div>
      {{ end }}
      {{ if ne .Slot 0 }}
        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="The BLS signature obtained by using the BeaconState, BeaconBlock and private key">Signature:</span></div>
          <div class="col-md-10 text-monospace text-break">
            0x{{ printf "%x" .Block.Signature }} 
            <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" .Block.Signature }}"></i>
          </div>
        </div>
        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="RANDAO entropy contribution">RANDAO Reveal:</span></div>
          <div class="col-md-10 text-monospace text-break">
            0x{{ printf "%x" .Block.RandaoReveal }} 
            <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" .Block.RandaoReveal }}"></i>
          </div>
        </div>
        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="32 byte long message included by the block proposer">Graffiti:</span></div>
          <div class="col-md-10 d-flex justify-between flex-wrap">
            <div id="graffiti" class="mw-100 text-monospace text-break" aria-hex-data="{{ printf "%#x" .Block.Graffiti }}" data-graffiti="{{ printf "%#x" .Block.Graffiti }}">{{ formatGraffiti .Block.Graffiti }}</div>
            
          </div>
        </div>
        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Received Eth Block headers and Deposit data">Eth Data:</span></div>
          <div class="col-md-10">
            <div class="row py-1">
              <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Hash of the voted on Eth Block">Block Hash:</span></div>
              <div class="col-md-10 text-monospace text-break">{{ ethBlockHashLink .Block.Eth1dataBlockhash }}</div>
            </div>
            <div class="row py-1">
              <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Amount of validator deposits to the deposit contract in this block">Deposit Count:</span></div>
              <div class="col-md-10 text-monospace text-break">{{ formatAddCommas .Block.Eth1dataDepositcount }}</div>
            </div>
            <div class="row py-1">
              <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="The root of the merkle tree of deposits">Deposit Root:</span></div>
              <div class="col-md-10 text-monospace text-break">
                0x{{ printf "%x" .Block.Eth1dataDepositroot }} 
                <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" .Block.Eth1dataDepositroot }}"></i>
              </div>
            </div>
          </div>
        </div>
        {{ if .Block.SyncAggregateSignature }}
          <div class="row border-bottom p-2 mx-0">
            <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Sync Aggregate (Altair Light-Client support)">Sync Aggregate:</span></div>
            <div class="col-md-10">
              <div class="row py-1">
                <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Sync Aggregate Participation">Participation:</span></div>
                <div class="col-md-10 text-break">
                  <span>{{ formatParticipation .Block.SyncAggParticipation }}</span>
                </div>
              </div>
              <div class="row py-1">
                <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Sync Committee Aggregation Bits">Bits:</span></div>
                <div class="col-md-10 text-monospace text-break">{{ formatBitvectorValidators .Block.SyncAggregateBits .Block.SyncAggCommittee }}</div>
              </div>
              <div class="row py-1">
                <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Sync Committee Signature">Signature:</span></div>
                <div class="col-md-10 text-monospace text-break">
                  <span>0x{{ printf "%x" .Block.SyncAggregateSignature }}</span>
                </div>
              </div>
            </div>
          </div>
        {{ end }}

        {{ if .Block.ExecutionData }}
          {{ $block := .Block }}
          {{ with .Block.ExecutionData }}
            <div class="row border-bottom p-2 mx-0">
              <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Received Eth Block headers and Deposit data">Execution Payload:</span></div>
              <div class="col-md-10">
                <div class="row py-1">
                  <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Block Number, the height, not the slot">Block Number:</span></div>
                  <div class="col-md-10 text-monospace text-break">{{ ethBlockLink .BlockNumber }}</div>
                </div>

                <div class="row py-1">
                  <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="The Execution Block Hash">Block Hash:</span></div>
                  <div class="col-md-10 text-monospace text-break">
                    {{ ethBlockHashLink .BlockHash }}
                    <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" .BlockHash }}"></i>
                  </div>
                </div>

                <div class="row py-1">
                  <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Parent Execution Block Hash">Parent Hash:</span></div>
                  <div class="col-md-10 text-monospace text-break">
                    0x{{ printf "%x" .ParentHash }}
                    <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" .ParentHash }}"></i>
                  </div>
                </div>

                {{ if .StateRoot }}
                  <div class="row py-1">
                    <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Execution State Root">State Root:</span></div>
                    <div class="col-md-10 text-monospace text-break">
                      0x{{ printf "%x" .StateRoot }}
                      <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" .StateRoot }}"></i>
                    </div>
                  </div>
                {{ end }}

                {{ if .ReceiptsRoot }}
                  <div class="row py-1">
                    <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Execution Receipts Root">Receipts Root:</span></div>
                    <div class="col-md-10 text-monospace text-break">
                      0x{{ printf "%x" .ReceiptsRoot }}
                      <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" .ReceiptsRoot }}"></i>
                    </div>
                  </div>
                {{ end }}

                {{ if .Random }}
                  <div class="row py-1">
                    <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Previous RANDAO value">Random:</span></div>
                    <div class="col-md-10 text-monospace text-break">
                      0x{{ printf "%x" .Random }}
                      <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" .Random }}"></i>
                    </div>
                  </div>
                {{ end }}

                <div class="row py-1">
                  <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Fee recipient">Fee Recipient:</span></div>
                  <div class="col-md-10 text-monospace text-break">
                    {{ ethAddressLink .FeeRecipient }}
                    <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" .FeeRecipient }}"></i>
                  </div>
                </div>

                <div class="row py-1">
                  <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Gas Used">Gas Used:</span></div>
                  <div class="col-md-10">
                    <div style="position:relative;width:200px;height:inherit;">
                      {{ formatAddCommas .GasUsed }} <small class="text-muted ml-3">({{ formatFloat (percentage .GasUsed .GasLimit) 2 }}%)</small>
                      <div class="progress" style="position:absolute;bottom:-6px;width:200px;height:4px;">
                        <div class="progress-bar" role="progressbar" style="width: {{ percentage .GasUsed .GasLimit }}%;" aria-valuenow="{{ .GasUsed }}" aria-valuemin="0" aria-valuemax="{{ .GasLimit }}"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row py-1">
                  <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Gas Limit">Gas Limit:</span></div>
                  <div class="col-md-10 text-monospace text-break">{{ formatAddCommas .GasLimit }}</div>
                </div>

                <div class="row py-1">
                  <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Base fee per gas">Base fee per gas:</span></div>
                  <div class="col-md-10 text-monospace text-break">{{ formatBaseFee .BaseFeePerGas }}</div>
                </div>

                {{ if .BlobBaseFee }}
                  <div class="row py-1">
                    <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Base fee per blob gas">Blob base fee:</span></div>
                    <div class="col-md-10 text-monospace text-break">{{ formatBaseFee .BlobBaseFee }}</div>
                  </div>
                {{ end }}

                {{ if .ExcessBlobGas }}
                  <div class="row py-1">
                    <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Excess blob gas">Excess blob gas:</span></div>
                    <div class="col-md-10 text-monospace text-break">{{ formatAddCommas .ExcessBlobGas }}</div>
                  </div>
                {{ end }}

                {{ if .BlobGasUsed }}
                  <div class="row py-1">
                    <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Blob gas used">Blob gas used:</span></div>
                    <div class="col-md-10 text-monospace text-break">{{ formatAddCommas .BlobGasUsed }}</div>
                  </div>
                {{ end }}

                {{ if .BlockAccessListHash }}
                  <div class="row py-1">
                    <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Block Access List Hash (EIP-7928)">BAL Hash:</span></div>
                    <div class="col-md-10 text-monospace text-break">
                      <span class="text-truncate">0x{{ printf "%x" .BlockAccessListHash }}</span>
                      {{ if .BlockAccessList }}
                        <button class="btn btn-sm btn-outline-primary ms-2" data-bs-toggle="modal" data-bs-target="#balModal">
                          <i class="fas fa-list"></i> View Access List
                        </button>
                      {{ end }}
                    </div>
                  </div>
                {{ end }}

                <div class="row py-1">
                  <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Transactions">Transactions:</span></div>
                  <div class="col-md-10 text-monospace text-break">{{ $block.TransactionsCount }}</div>
                </div>

                <div class="row py-1">
                  <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Timestamp">Timestamp:</span></div>
                  <div class="col-md-5 text-monospace text-break">
                    <span aria-ethereum-date="{{ .Time.Unix }}" aria-ethereum-date-format="FROMNOW">{{ .Time }}</span>
                    (<span id="timestamp" aria-ethereum-date="{{ .Time.Unix }}" aria-ethereum-date-format="LOCAL" data-timer="{{ .Time.Unix }}">{{ formatRecentTimeShort .Time }}</span>)
                  </div>
                </div>

                <div class="row py-1">
                  <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Block Extra Data">Block Extra Data</span></div>
                  <div class="col-md-10 text-monospace text-break d-flex justify-between flex-wrap">
                    <div id="extra-data" class="mw-100" aria-hex-data="0x{{ printf "%x" .ExtraData }}" data-graffiti="{{ printf "%x" .ExtraData }}">{{ formatGraffiti .ExtraData }}</div>
                    
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
        {{ end }}
        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Amount of attestations included in this block by the block proposer">Attestations:</span></div>
          <div class="col-md-10"><b>{{ formatAddCommas .Block.AttestationsCount }}</b></div>
        </div>
        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Amount of voluntary Exits which have been included in this block by the block proposer">Voluntary Exits:</span></div>
          <div class="col-md-10"><b>{{ formatAddCommas .Block.VoluntaryExitsCount }}</b></div>
        </div>
        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Amount of slashings which have been included in this block by the block proposer">Slashings:</span></div>
          <div class="col-md-10"><b>{{ .Block.AttesterSlashingsCount }}</b> attester & <b>{{ .Block.ProposerSlashingsCount }}</b> proposer slashings</div>
        </div>

        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Amount of validator deposits which have been included in this block by the block proposer">Deposits:</span></div>
          <div class="col-md-10"><b>{{ formatAddCommas .Block.DepositsCount }}</b></div>
        </div>
        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Amount of validator withdrawals which have been included in this block by the block proposer">Withdrawals:</span></div>
          <div class="col-md-10"><b>{{ formatAddCommas .Block.WithdrawalsCount }}</b></div>
        </div>
        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Amount of validators that changed their withdrawal address from 0x00 to 0x01">BLS Address Changes:</span></div>
          <div class="col-md-10"><b>{{ formatAddCommas .Block.BLSChangesCount }}</b></div>
        </div>
      {{ end }}
    {{ end }}
  </div>
  
  {{ if .Block.ExecutionData.BlockAccessList }}
  <div class="modal fade" id="balModal" tabindex="-1" aria-labelledby="balModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xxl">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title" id="balModalLabel">
            <i class="fas fa-list-alt me-2"></i>Block Access List (EIP-7928)
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row g-3 mb-4">
            <div class="col-md-4">
              <div class="card border-primary">
                <div class="card-body text-center">
                  <i class="fas fa-users fa-2x text-primary mb-2"></i>
                  <h6 class="card-title text-muted">Total Accounts</h6>
                  <h3 class="mb-0">{{ .Block.ExecutionData.BlockAccessList.TotalAccounts }}</h3>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card border-info">
                <div class="card-body text-center">
                  <i class="fas fa-database fa-2x text-info mb-2"></i>
                  <h6 class="card-title text-muted">Total Storage Slots</h6>
                  <h3 class="mb-0">{{ .Block.ExecutionData.BlockAccessList.TotalSlots }}</h3>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card border-success">
                <div class="card-body text-center">
                  <i class="fas fa-exchange-alt fa-2x text-success mb-2"></i>
                  <h6 class="card-title text-muted">Total Operations</h6>
                  <h3 class="mb-0">{{ .Block.ExecutionData.BlockAccessList.TotalStorageOps }}</h3>
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-8">
              <div class="input-group">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
                <input type="text" class="form-control" id="balSearchInput" placeholder="Search by address or transaction index...">
              </div>
            </div>
            <div class="col-md-4">
              <select class="form-select" id="balFilterSelect">
                <option value="">All Changes</option>
                <option value="storage">Storage Changes Only</option>
                <option value="balance">Balance Changes Only</option>
                <option value="nonce">Nonce Changes Only</option>
                <option value="code">Code Changes Only</option>
              </select>
            </div>
          </div>
          <div class="accordion" id="balAccordion">
            {{ range $index, $account := .Block.ExecutionData.BlockAccessList.AccountChanges }}
            <div class="accordion-item bal-account-item" data-address="0x{{ printf "%x" $account.Address }}"
                 data-has-storage="{{ if $account.StorageChanges }}true{{ else }}false{{ end }}"
                 data-has-balance="{{ if $account.BalanceChanges }}true{{ else }}false{{ end }}"
                 data-has-nonce="{{ if $account.NonceChanges }}true{{ else }}false{{ end }}"
                 data-has-code="{{ if $account.CodeChanges }}true{{ else }}false{{ end }}">
              <h2 class="accordion-header" id="heading-{{ $index }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                        data-bs-target="#collapse-{{ $index }}" aria-expanded="false" aria-controls="collapse-{{ $index }}">
                  <div class="d-flex justify-content-between w-100 me-3">
                    <div>
                      <i class="fas fa-wallet me-2"></i>
                      <span class="text-monospace fw-bold">0x{{ printf "%x" $account.Address | printf "%.8s" }}...{{ printf "%x" $account.Address | printf "%s" | slice -8 }}</span>
                    </div>
                    <div>
                      {{ if $account.StorageChanges }}
                        <span class="badge rounded-pill bg-primary me-1">
                          <i class="fas fa-database"></i> {{ len $account.StorageChanges }} storage
                        </span>
                      {{ end }}
                      {{ if $account.BalanceChanges }}
                        <span class="badge rounded-pill bg-success me-1">
                          <i class="fas fa-coins"></i> {{ len $account.BalanceChanges }} balance
                        </span>
                      {{ end }}
                      {{ if $account.NonceChanges }}
                        <span class="badge rounded-pill bg-warning me-1">
                          <i class="fas fa-hashtag"></i> {{ len $account.NonceChanges }} nonce
                        </span>
                      {{ end }}
                      {{ if $account.CodeChanges }}
                        <span class="badge rounded-pill bg-danger me-1">
                          <i class="fas fa-code"></i> {{ len $account.CodeChanges }} code
                        </span>
                      {{ end }}
                      {{ if $account.StorageReads }}
                        <span class="badge rounded-pill bg-secondary me-1">
                          <i class="fas fa-eye"></i> {{ len $account.StorageReads }} reads
                        </span>
                      {{ end }}
                    </div>
                  </div>
                </button>
              </h2>
              <div id="collapse-{{ $index }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ $index }}" data-bs-parent="#balAccordion">
                <div class="accordion-body bg-light">
                  <div class="mb-3 p-3 bg-white rounded">
                    <small class="text-muted">Full Address:</small>
                    <div class="text-monospace">
                      0x{{ printf "%x" $account.Address }}
                      <i class="fa fa-copy text-muted ms-2" role="button" data-bs-toggle="tooltip" title="Copy address" data-clipboard-text="0x{{ printf "%x" $account.Address }}"></i>
                    </div>
                  </div>

                  {{ if $account.StorageChanges }}
                  <div class="mb-4">
                    <h6 class="text-primary border-bottom pb-2">
                      <i class="fas fa-database me-2"></i>Storage Changes
                    </h6>
                    <div class="table-responsive">
                      <table class="table table-sm table-hover">
                        <thead class="table-light">
                          <tr>
                            <th style="width: 40%">Storage Slot</th>
                            <th style="width: 20%">Transaction</th>
                            <th style="width: 40%">New Value</th>
                          </tr>
                        </thead>
                        <tbody>
                          {{ range $account.StorageChanges }}
                            {{ range .Changes }}
                            <tr>
                              <td class="text-monospace small">
                                <span class="text-truncate d-inline-block" style="max-width: 250px" title="0x{{ printf "%x" $.Slot }}">
                                  0x{{ printf "%x" $.Slot }}
                                </span>
                              </td>
                              <td>
                                {{ if eq .DisplayIndex "pre-execution" }}
                                  <span class="badge bg-secondary">{{ .DisplayIndex }}</span>
                                {{ else if eq .DisplayIndex "post-execution" }}
                                  <span class="badge bg-info">{{ .DisplayIndex }}</span>
                                {{ else }}
                                  <span class="badge bg-primary">{{ .DisplayIndex }}</span>
                                {{ end }}
                              </td>
                              <td class="text-monospace small">
                                <span class="text-truncate d-inline-block" style="max-width: 250px" title="0x{{ printf "%x" .NewValue }}">
                                  0x{{ printf "%x" .NewValue }}
                                </span>
                              </td>
                            </tr>
                            {{ end }}
                          {{ end }}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  {{ end }}
                  
                  {{ if $account.StorageReads }}
                  <div class="mb-4">
                    <h6 class="text-secondary border-bottom pb-2">
                      <i class="fas fa-eye me-2"></i>Storage Reads (No Changes)
                    </h6>
                    <div class="d-flex flex-wrap">
                      {{ range $account.StorageReads }}
                        <span class="badge bg-light text-dark me-1 mb-1 text-monospace p-2" style="font-size: 0.85em;">
                          0x{{ printf "%x" . | printf "%.16s" }}...
                        </span>
                      {{ end }}
                    </div>
                  </div>
                  {{ end }}
                  
                  {{ if $account.BalanceChanges }}
                  <div class="mb-4">
                    <h6 class="text-success border-bottom pb-2">
                      <i class="fas fa-coins me-2"></i>Balance Changes
                    </h6>
                    <div class="table-responsive">
                      <table class="table table-sm table-hover">
                        <thead class="table-light">
                          <tr>
                            <th>Transaction</th>
                            <th>Post-Balance</th>
                          </tr>
                        </thead>
                        <tbody>
                          {{ range $account.BalanceChanges }}
                          <tr>
                            <td>
                              {{ if eq .DisplayIndex "pre-execution" }}
                                <span class="badge bg-secondary">{{ .DisplayIndex }}</span>
                              {{ else if eq .DisplayIndex "post-execution" }}
                                <span class="badge bg-info">{{ .DisplayIndex }}</span>
                              {{ else }}
                                <span class="badge bg-primary">{{ .DisplayIndex }}</span>
                              {{ end }}
                            </td>
                            <td class="fw-bold">{{ formatEtherValue .PostBalance }}</td>
                          </tr>
                          {{ end }}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  {{ end }}
                  
                  {{ if $account.NonceChanges }}
                  <div class="mb-4">
                    <h6 class="text-warning border-bottom pb-2">
                      <i class="fas fa-hashtag me-2"></i>Nonce Changes
                    </h6>
                    <div class="table-responsive">
                      <table class="table table-sm table-hover">
                        <thead class="table-light">
                          <tr>
                            <th>Transaction</th>
                            <th>New Nonce</th>
                          </tr>
                        </thead>
                        <tbody>
                          {{ range $account.NonceChanges }}
                          <tr>
                            <td>
                              {{ if eq .DisplayIndex "pre-execution" }}
                                <span class="badge bg-secondary">{{ .DisplayIndex }}</span>
                              {{ else if eq .DisplayIndex "post-execution" }}
                                <span class="badge bg-info">{{ .DisplayIndex }}</span>
                              {{ else }}
                                <span class="badge bg-primary">{{ .DisplayIndex }}</span>
                              {{ end }}
                            </td>
                            <td class="fw-bold">{{ .NewNonce }}</td>
                          </tr>
                          {{ end }}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  {{ end }}
                  
                  {{ if $account.CodeChanges }}
                  <div class="mb-4">
                    <h6 class="text-danger border-bottom pb-2">
                      <i class="fas fa-code me-2"></i>Code Changes
                    </h6>
                    <div class="table-responsive">
                      <table class="table table-sm table-hover">
                        <thead class="table-light">
                          <tr>
                            <th>Transaction</th>
                            <th>New Code</th>
                          </tr>
                        </thead>
                        <tbody>
                          {{ range $account.CodeChanges }}
                          <tr>
                            <td>
                              {{ if eq .DisplayIndex "pre-execution" }}
                                <span class="badge bg-secondary">{{ .DisplayIndex }}</span>
                              {{ else if eq .DisplayIndex "post-execution" }}
                                <span class="badge bg-info">{{ .DisplayIndex }}</span>
                              {{ else }}
                                <span class="badge bg-primary">{{ .DisplayIndex }}</span>
                              {{ end }}
                            </td>
                            <td>
                              <details class="cursor-pointer">
                                <summary class="text-primary">
                                  <i class="fas fa-expand-alt"></i> View Code ({{ len .NewCode }} bytes)
                                </summary>
                                <pre class="text-monospace small mt-2 p-2 bg-light rounded" style="max-height: 300px; overflow-y: auto;">0x{{ printf "%x" .NewCode }}</pre>
                              </details>
                            </td>
                          </tr>
                          {{ end }}
                        </tbody>
                      </table>
                    </div>
                  </div>
                  {{ end }}
                  
                </div>
              </div>
            </div>
            {{ end }}
          </div>
        </div>
        <div class="modal-footer bg-light">
          <div class="w-100 d-flex justify-content-between align-items-center">
            <small class="text-muted">
              <i class="fas fa-info-circle"></i> EIP-7928 Block Access List - Enforced state access tracking
            </small>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const searchInput = document.getElementById('balSearchInput');
      const filterSelect = document.getElementById('balFilterSelect');
      const accountItems = document.querySelectorAll('.bal-account-item');

      function filterAccounts() {
        const searchTerm = searchInput ? searchInput.value.toLowerCase() : '';
        const filterType = filterSelect ? filterSelect.value : '';

        accountItems.forEach(item => {
          let shouldShow = true;

          if (searchTerm) {
            const address = item.getAttribute('data-address').toLowerCase();
            const hasMatch = address.includes(searchTerm);
            shouldShow = hasMatch;
          }

          if (shouldShow && filterType) {
            switch(filterType) {
              case 'storage':
                shouldShow = item.getAttribute('data-has-storage') === 'true';
                break;
              case 'balance':
                shouldShow = item.getAttribute('data-has-balance') === 'true';
                break;
              case 'nonce':
                shouldShow = item.getAttribute('data-has-nonce') === 'true';
                break;
              case 'code':
                shouldShow = item.getAttribute('data-has-code') === 'true';
                break;
            }
          }

          item.style.display = shouldShow ? '' : 'none';
        });

        const visibleCount = Array.from(accountItems).filter(item => item.style.display !== 'none').length;
        const totalCount = accountItems.length;
        
        const counterElement = document.getElementById('balAccountCounter');
        if (counterElement) {
          counterElement.textContent = `Showing ${visibleCount} of ${totalCount} accounts`;
        }
      }

      if (searchInput) {
        searchInput.addEventListener('input', filterAccounts);
      }
      if (filterSelect) {
        filterSelect.addEventListener('change', filterAccounts);
      }

      const expandAllBtn = document.getElementById('balExpandAll');
      const collapseAllBtn = document.getElementById('balCollapseAll');
      
      if (expandAllBtn) {
        expandAllBtn.addEventListener('click', function() {
          const collapses = document.querySelectorAll('#balAccordion .accordion-collapse');
          collapses.forEach(collapse => {
            collapse.classList.add('show');
            const button = collapse.previousElementSibling.querySelector('.accordion-button');
            if (button) button.classList.remove('collapsed');
          });
        });
      }

      if (collapseAllBtn) {
        collapseAllBtn.addEventListener('click', function() {
          const collapses = document.querySelectorAll('#balAccordion .accordion-collapse');
          collapses.forEach(collapse => {
            collapse.classList.remove('show');
            const button = collapse.previousElementSibling.querySelector('.accordion-button');
            if (button) button.classList.add('collapsed');
          });
        });
      }
    });
  </script>
  {{ end }}
{{ end }}
