{{ define "block_overview" }}
  <div class="card-body px-0 py-1">
    <div class="row border-bottom p-2 mx-0">
      <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Represents the number of 32 slots">Epoch:</span></div>
      <div class="col-md-10">
        <a href="/epoch/{{ .Epoch }}">{{ formatAddCommas .Epoch }}</a>
        <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="{{ .Epoch }}"></i></div>
    </div>
    <div class="row border-bottom p-2 mx-0">
      <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="A slot is a chance for a block to be added to the Beacon Chain and shards">Slot:</span></div>
      <div class="col-md-10">
        <a href="/slot/{{ .Slot }}"><b>{{ formatAddCommas .Slot }}</b></a>
        <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="{{ .Slot }}"></i>
      </div>
    </div>
    
    <div class="row border-bottom p-2 mx-0">
      <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Represents the current state of the block">Status:</span></div>
      <div class="col-md-10">
        {{ if ne .Slot 0 }}
          {{ if eq .Status 0 }}
            {{ if .Future }}
              <span class="badge rounded-pill text-bg-secondary" style="font-size: 12px; font-weight: 500;">Scheduled</span>
            {{ else }}
              <span class="badge rounded-pill text-bg-warning" style="font-size: 12px; font-weight: 500;">Missed</span>
            {{ end }}
          {{ else if eq .Status 1 }}
            <span class="badge rounded-pill text-bg-success" style="font-size: 12px; font-weight: 500;">Proposed</span>
          {{ else if eq .Status 2 }}
            <span class="badge rounded-pill text-bg-info" style="font-size: 12px; font-weight: 500;">Missed (Orphaned)</span>
          {{ end }}

          {{ if .EpochFinalized }}
            <span data-html="true" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="This block can't be reverted without manual intervention by all participants." data-container="body">
              <span class="badge text-bg-success px-1"><i class="fas fa-check-double"></i> Finalized</span>
            </span>
          {{ else }}
            <span data-html="true" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="This block can still be reverted and shouldn't be considered final." data-container="body">
              <span class="badge text-bg-secondary px-1"><i class="fas fa-exclamation-circle"></i> Not Finalized</span>
            </span>
          {{ end }}
        {{ else }}
          <span class="badge text-bg-light">Genesis</span>
        {{ end }}
      </div>
    </div>
    <div class="row border-bottom p-2 mx-0">
      <div class="col-md-2">Time:</div>
      <div class="col-md-10 d-flex justify-between flex-wrap">
        <div>
          <span aria-ethereum-date="{{ .Ts.Unix }}" aria-ethereum-date-format="FROMNOW">{{ .Ts }}</span>
          (<span id="timestamp" aria-ethereum-date="{{ .Ts.Unix }}" aria-ethereum-date-format="LOCAL" data-timer="{{ .Ts.Unix }}">{{ formatRecentTimeShort .Ts }}</span>)
          <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="{{ .Ts }}"></i>
        </div>

      </div>
    </div>
    {{ if ne .Slot 0 }}
      <div class="row border-bottom p-2 mx-0">
        <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="A chosen validator by the beacon chain to propose the next block">Proposer:</span></div>
        <div class="col-md-10">{{ formatValidator .Proposer .ProposerName }}</div>
      </div>
    {{ end }}

    {{ if .Block }}
      <div class="row border-bottom p-2 mx-0">
        <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="The hash-tree-root of the BeaconBlock">Block Root:</span></div>
        <div class="col-md-10 text-monospace text-break">
          0x{{ printf "%x" .Block.BlockRoot }} 
          <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" .Block.BlockRoot }}"></i>
        </div>
      </div>
      {{ if ne .Slot 0 }}
        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="The hash pointing to the previous block">Parent Root:</span></div>
          <div class="col-md-10 text-monospace text-break">
            <a href="/slot/{{ printf "%x" .Block.ParentRoot }}">0x{{ printf "%x" .Block.ParentRoot }}</a>
            <i style="padding: .25rem;" class="fa fa-copy text-muted" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" .Block.ParentRoot }}"></i>
          </div>
        </div>
      {{ end }}
      <div class="row border-bottom p-2 mx-0">
        <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="The hash-tree-root of the BeaconState">State Root:</span></div>
        <div class="col-md-10 text-monospace text-break">
          0x{{ printf "%x" .Block.StateRoot }} 
          <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" .Block.StateRoot }}"></i>
        </div>
      </div>
      {{ if ne .Slot 0 }}
        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="The BLS signature obtained by using the BeaconState, BeaconBlock and private key">Signature:</span></div>
          <div class="col-md-10 text-monospace text-break">
            0x{{ printf "%x" .Block.Signature }} 
            <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" .Block.Signature }}"></i>
          </div>
        </div>
        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="RANDAO entropy contribution">RANDAO Reveal:</span></div>
          <div class="col-md-10 text-monospace text-break">
            0x{{ printf "%x" .Block.RandaoReveal }} 
            <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" .Block.RandaoReveal }}"></i>
          </div>
        </div>
        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="32 byte long message included by the block proposer">Graffiti:</span></div>
          <div class="col-md-10 d-flex justify-between flex-wrap">
            <div id="graffiti" class="mw-100 text-monospace text-break" aria-hex-data="{{ printf "%#x" .Block.Graffiti }}" data-graffiti="{{ printf "%#x" .Block.Graffiti }}">{{ formatGraffiti .Block.Graffiti }}</div>
            
          </div>
        </div>
        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Received Eth Block headers and Deposit data">Eth Data:</span></div>
          <div class="col-md-10">
            <div class="row py-1">
              <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Hash of the voted on Eth Block">Block Hash:</span></div>
              <div class="col-md-10 text-monospace text-break">{{ ethBlockHashLink .Block.Eth1dataBlockhash }}</div>
            </div>
            <div class="row py-1">
              <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Amount of validator deposits to the deposit contract in this block">Deposit Count:</span></div>
              <div class="col-md-10 text-monospace text-break">{{ formatAddCommas .Block.Eth1dataDepositcount }}</div>
            </div>
            <div class="row py-1">
              <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="The root of the merkle tree of deposits">Deposit Root:</span></div>
              <div class="col-md-10 text-monospace text-break">
                0x{{ printf "%x" .Block.Eth1dataDepositroot }} 
                <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" .Block.Eth1dataDepositroot }}"></i>
              </div>
            </div>
          </div>
        </div>
        {{ if .Block.SyncAggregateSignature }}
          <div class="row border-bottom p-2 mx-0">
            <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Sync Aggregate (Altair Light-Client support)">Sync Aggregate:</span></div>
            <div class="col-md-10">
              <div class="row py-1">
                <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Sync Aggregate Participation">Participation:</span></div>
                <div class="col-md-10 text-break">
                  <span>{{ formatParticipation .Block.SyncAggParticipation }}</span>
                </div>
              </div>
              <div class="row py-1">
                <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Sync Committee Aggregation Bits">Bits:</span></div>
                <div class="col-md-10 text-monospace text-break">{{ formatBitvectorValidators .Block.SyncAggregateBits .Block.SyncAggCommittee }}</div>
              </div>
              <div class="row py-1">
                <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Sync Committee Signature">Signature:</span></div>
                <div class="col-md-10 text-monospace text-break">
                  <span>0x{{ printf "%x" .Block.SyncAggregateSignature }}</span>
                </div>
              </div>
            </div>
          </div>
        {{ end }}


        {{ if .Block.PayloadHeader }}
          {{ $block := .Block }}
          {{ with .Block.PayloadHeader }}
            <div class="row border-bottom p-2 mx-0">
              <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Received Eth Block headers and Deposit data">Payload Header:</span></div>
              <div class="col-md-10">

                <div class="row py-1">
                  <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Block Number, the height, not the slot">Payload Status:</span></div>
                  <div class="col-md-10 text-monospace text-break">
                    {{ if eq .PayloadStatus 0 }}
                      <span class="badge rounded-pill text-bg-warning">Missing</span>
                    {{ else if eq .PayloadStatus 1 }}
                      <span class="badge rounded-pill text-bg-success">Proposed</span>
                    {{ else if eq .PayloadStatus 2 }}
                      <span class="badge rounded-pill text-bg-info">Orphaned</span>
                    {{ else }}
                      <span class="badge rounded-pill text-bg-dark">Unknown</span>
                    {{ end }}
                  </div>
                </div>

                <div class="row py-1">
                  <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="The Execution Block Hash">Block Hash:</span></div>
                  <div class="col-md-10 text-monospace text-break">
                    {{ ethBlockHashLink .BlockHash }}
                    <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" .BlockHash }}"></i>
                  </div>
                </div>

                <div class="row py-1">
                  <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Parent Execution Block Hash">Parent Hash:</span></div>
                  <div class="col-md-10 text-monospace text-break">
                    {{ ethBlockHashLink .ParentBlockHash }}
                    <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" .ParentBlockHash }}"></i>
                  </div>
                </div>

                <div class="row py-1">
                  <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Parent Execution Block Hash">Builder Index:</span></div>
                  <div class="col-md-10 text-monospace text-break">
                    {{ formatValidator .BuilderIndex .BuilderName }}
                  </div>
                </div>

                <div class="row py-1">
                  <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Parent Execution Block Hash">Block Value:</span></div>
                  <div class="col-md-10 text-monospace text-break">
                    {{ formatEthFromGwei .Value }}
                  </div>
                </div>

                <div class="row py-1">
                  <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Parent Execution Block Hash">Gas Limit:</span></div>
                  <div class="col-md-10 text-monospace text-break">
                    {{ .GasLimit }}
                  </div>
                </div>

                <div class="row py-1">
                  <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Parent Execution Block Hash">Blob KZG Root:</span></div>
                  <div class="col-md-10 text-monospace text-break">
                    0x{{ printf "%x" .BlobKzgCommitmentsRoot }}
                    <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" .BlobKzgCommitmentsRoot }}"></i>
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
        {{ end }}
        {{ if .Block.ExecutionData }}
          {{ $block := .Block }}
          {{ with .Block.ExecutionData }}
            <div class="row border-bottom p-2 mx-0">
              <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Received Eth Block headers and Deposit data">Execution Payload:</span></div>
              <div class="col-md-10">
                <div class="row py-1">
                  <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Block Number, the height, not the slot">Block Number:</span></div>
                  <div class="col-md-10 text-monospace text-break">{{ ethBlockLink .BlockNumber }}</div>
                </div>

                {{ if not $block.PayloadHeader }}
                  <div class="row py-1">
                    <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="The Execution Block Hash">Block Hash:</span></div>
                    <div class="col-md-10 text-monospace text-break">
                      {{ ethBlockHashLink .BlockHash }}
                    </div>
                  </div>

                  <div class="row py-1">
                    <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Parent Execution Block Hash">Parent Hash:</span></div>
                    <div class="col-md-10 text-monospace text-break">
                      0x{{ printf "%x" .ParentHash }}
                    </div>
                  </div>
                {{ end }}

                <div class="row py-1">
                  <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Fee recipient">Fee Recipient:</span></div>
                  <div class="col-md-10 text-monospace text-break">
                    {{ ethAddressLink .FeeRecipient }}
                  </div>
                </div>

                <div class="row py-1">
                  <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Gas Used">Gas Used:</span></div>
                  <div class="col-md-10 text-monospace text-break">{{ .GasUsed }}</div>
                </div>

                {{ if not $block.PayloadHeader }}
                  <div class="row py-1">
                    <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Gas Limit">Gas Limit:</span></div>
                    <div class="col-md-10 text-monospace text-break">{{ .GasLimit }}</div>
                  </div>
                {{ end }}

                <div class="row py-1">
                  <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Base fee per gas">Base fee per gas:</span></div>
                  <div class="col-md-10 text-monospace text-break">{{ .BaseFeePerGas }}</div>
                </div>

                <div class="row py-1">
                  <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Transactions">Transactions:</span></div>
                  <div class="col-md-10 text-monospace text-break">{{ $block.TransactionsCount }}</div>
                </div>

                <div class="row py-1">
                  <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Timestamp">Timestamp:</span></div>
                  <div class="col-md-5 text-monospace text-break">
                    <span aria-ethereum-date="{{ .Time.Unix }}" aria-ethereum-date-format="FROMNOW">{{ .Time }}</span>
                    (<span id="timestamp" aria-ethereum-date="{{ .Time.Unix }}" aria-ethereum-date-format="LOCAL" data-timer="{{ .Time.Unix }}">{{ formatRecentTimeShort .Time }}</span>)
                  </div>
                </div>

                <div class="row py-1">
                  <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Block Extra Data">Block Extra Data</span></div>
                  <div class="col-md-10 text-monospace text-break d-flex justify-between flex-wrap">
                    <div id="extra-data" class="mw-100" aria-hex-data="0x{{ printf "%x" .ExtraData }}" data-graffiti="{{ printf "%x" .ExtraData }}">{{ formatGraffiti .ExtraData }}</div>
                    
                  </div>
                </div>
              </div>
            </div>
          {{ end }}
        {{ end }}
        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Amount of attestations included in this block by the block proposer">Attestations:</span></div>
          <div class="col-md-10"><b>{{ formatAddCommas .Block.AttestationsCount }}</b></div>
        </div>
        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Amount of voluntary Exits which have been included in this block by the block proposer">Voluntary Exits:</span></div>
          <div class="col-md-10"><b>{{ formatAddCommas .Block.VoluntaryExitsCount }}</b></div>
        </div>
        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Amount of slashings which have been included in this block by the block proposer">Slashings:</span></div>
          <div class="col-md-10"><b>{{ .Block.AttesterSlashingsCount }}</b> attester & <b>{{ .Block.ProposerSlashingsCount }}</b> proposer slashings</div>
        </div>

        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Amount of validator deposits which have been included in this block by the block proposer">Deposits:</span></div>
          <div class="col-md-10"><b>{{ formatAddCommas .Block.DepositsCount }}</b></div>
        </div>
        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Amount of validator withdrawals which have been included in this block by the block proposer">Withdrawals:</span></div>
          <div class="col-md-10"><b>{{ formatAddCommas .Block.WithdrawalsCount }}</b></div>
        </div>
        <div class="row border-bottom p-2 mx-0">
          <div class="col-md-2"><span data-bs-toggle="tooltip" data-bs-placement="top" title="Amount of validators that changed their withdrawal address from 0x00 to 0x01">BLS Address Changes:</span></div>
          <div class="col-md-10"><b>{{ formatAddCommas .Block.BLSChangesCount }}</b></div>
        </div>
      {{ end }}
    {{ end }}
  </div>
{{ end }}
