{{ define "page" }}
  <div class="container mt-2">
    <div class="d-md-flex py-2 justify-content-md-between">
      <h1 class="h4 my-2 mb-md-0 h1-pager">
        {{- if not (eq .Slot 0) -}}
          <a href="/slot/{{ .PreviousSlot }}"><i class="fa fa-chevron-left"></i></a>
        {{- else -}}
          <a></a>
        {{- end -}}
        <span><i class="fas fa-cube mx-2"></i>Slot <span id="slot">{{ .Slot }}</span></span>
        {{- if gt .NextSlot 0 -}}
          <a href="/slot/{{ .NextSlot }}"><i class="fa fa-chevron-right"></i></a>
        {{- else -}}
          <a></a>
        {{- end -}}
      </h1>
      <div class="flex-grow-1 px-3">
        {{- range $i, $badge := .Badges }}
          <span class="badge rounded-pill block-badge mx-2 mt-3 {{ $badge.ClassName }}" {{ if not (eq $badge.Description "") }}data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="{{ $badge.Description }}" {{ end }}>
            {{- if not (eq $badge.Icon "") }}
              <i class="fa {{ $badge.Icon }} px-1"></i>
            {{- end }}
            {{ $badge.Title }}
          </span>
        {{- end }}
      </div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb font-size-1 mb-0" style="padding: 0; background-color: transparent;">
          <li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
          <li class="breadcrumb-item"><a href="/slots" title="Slots">Slots</a></li>
          <li class="breadcrumb-item active" aria-current="page">Slot details</li>
        </ol>
      </nav>
    </div>

    <ul class="nav nav-tabs justify-content-start mt-3" id="tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="overview-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
      </li>
      {{ if .Block }}
        {{ if gt .Block.TransactionsCount 0 }}
          <li class="nav-item">
            <a class="nav-link" id="transactions-tab" data-bs-toggle="tab" href="#transactions" role="tab" aria-controls="transactions" aria-selected="false">Transactions <span class="badge bg-secondary text-white">{{ .Block.TransactionsCount }}</span></a>
          </li>
        {{ end }}
        <li class="nav-item">
          <a class="nav-link" id="attestations-tab" data-bs-toggle="tab" href="#attestations" role="tab" aria-controls="attestations" aria-selected="false">Attestations <span class="badge bg-secondary text-white">{{ .Block.AttestationsCount }}</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="proofs-tab" data-bs-toggle="tab" href="#proofs" role="tab" aria-controls="proofs" aria-selected="false">Proofs</a>
        </li>
        {{ if gt .Block.DepositsCount 0 }}
          <li class="nav-item">
            <a class="nav-link" id="deposits-tab" data-bs-toggle="tab" href="#deposits" role="tab" aria-controls="deposits" aria-selected="false">Deposits <span class="badge bg-secondary text-white">{{ .Block.DepositsCount }}</span></a>
          </li>
        {{ end }}
        {{ if gt .Block.VoluntaryExitsCount 0 }}
          <li class="nav-item">
            <a class="nav-link" id="voluntary-exits-tab" data-bs-toggle="tab" href="#voluntary-exits" role="tab" aria-controls="voluntary-exits" aria-selected="false">Voluntary Exits <span class="badge bg-secondary text-white">{{ .Block.VoluntaryExitsCount }}</span></a>
          </li>
        {{ end }}
        {{ if gt .Block.AttesterSlashingsCount 0 }}
          <li class="nav-item">
            <a class="nav-link" id="attester-slashings-tab" data-bs-toggle="tab" href="#attester-slashings" role="tab" aria-controls="attester-slashings" aria-selected="false">Attester Slashings <span class="badge bg-secondary text-white">{{ .Block.AttesterSlashingsCount }}</span></a>
          </li>
        {{ end }}
        {{ if gt .Block.ProposerSlashingsCount 0 }}
          <li class="nav-item">
            <a class="nav-link" id="proposer-slashings-tab" data-bs-toggle="tab" href="#proposer-slashings" role="tab" aria-controls="proposer-slashings" aria-selected="false">Proposer Slashings <span class="badge bg-secondary text-white">{{ .Block.ProposerSlashingsCount }}</span></a>
          </li>
        {{ end }}
        {{ if gt .Block.WithdrawalsCount 0 }}
          <li class="nav-item">
            <a class="nav-link" id="withdrawals-tab" data-bs-toggle="tab" href="#withdrawals" role="tab" aria-controls="withdrawal" aria-selected="false">Withdrawals <span class="badge bg-secondary text-white">{{ .Block.WithdrawalsCount }}</span></a>
          </li>
        {{ end }}
        {{ if gt .Block.BLSChangesCount 0 }}
          <li class="nav-item">
            <a class="nav-link" id="blsChange-tab" data-bs-toggle="tab" href="#blsChange" role="tab" aria-controls="blsChange" aria-selected="false">BLS Change <span class="badge bg-secondary text-white">{{ .Block.BLSChangesCount }}</span></a>
          </li>
        {{ end }}
        {{ if gt .Block.BlobsCount 0 }}
          <li class="nav-item">
            <a class="nav-link" id="blobSidecars-tab" data-bs-toggle="tab" href="#blobSidecars" role="tab" aria-controls="blobSidecars" aria-selected="false">Blob Sidecars <span class="badge bg-secondary text-white">{{ .Block.BlobsCount }}</span></a>
          </li>
        {{ end }}
        {{ if gt .Block.DepositRequestsCount 0 }}
          <li class="nav-item">
            <a class="nav-link" id="depositRequests-tab" data-bs-toggle="tab" href="#depositRequests" role="tab" aria-controls="depositRequests" aria-selected="false">Deposit Requests <span class="badge bg-secondary text-white">{{ .Block.DepositRequestsCount }}</span></a>
          </li>
        {{ end }}
        {{ if gt .Block.WithdrawalRequestsCount 0 }}
          <li class="nav-item">
            <a class="nav-link" id="withdrawalRequests-tab" data-bs-toggle="tab" href="#withdrawalRequests" role="tab" aria-controls="withdrawalRequests" aria-selected="false">Withdrawal Requests <span class="badge bg-secondary text-white">{{ .Block.WithdrawalRequestsCount }}</span></a>
          </li>
        {{ end }}
        {{ if gt .Block.ConsolidationRequestsCount 0 }}
          <li class="nav-item">
            <a class="nav-link" id="consolidationRequests-tab" data-bs-toggle="tab" href="#consolidationRequests" role="tab" aria-controls="consolidationRequests" aria-selected="false">Consolidation Requests <span class="badge bg-secondary text-white">{{ .Block.ConsolidationRequestsCount }}</span></a>
          </li>
        {{ end }}
        {{ if .Block }}
          <li class="nav-item ms-auto">
            <a class="nav-link" id="download-tab" data-bs-toggle="tab" href="#download" role="tab" aria-controls="download" aria-selected="false" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Download">
              <i class="fas fa-download"></i>
            </a>
          </li>
        {{ end }}
      {{ end }}
    </ul>

    <div class="tab-content" id="tabContent">
      <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
        <div class="card block-card">
          {{ template "block_overview" $ }}
        </div>
      </div>
      {{ if .Block }}
        {{ if gt .Block.TransactionsCount 0 }}
          <div class="tab-pane fade show active" id="transactions" role="tabpanel" aria-labelledby="transactions-tab">
            <div class="card block-card">
              <div style="margin-bottom: -.25rem;" class="card-body px-0 py-1">
                <div class="row p-1 mx-0">
                  <h3 class="h5 col-md-12 text-center"><b>Showing {{ .Block.TransactionsCount }} Transactions </b></h3>
                </div>
              </div>
              {{ template "block_transactions" . }}
            </div>
          </div>
        {{ end }}
        <div class="tab-pane fade show active" id="attestations" role="tabpanel" aria-labelledby="attestations-tab">
          <div class="card block-card">
            <div style="margin-bottom: -.25rem;" class="card-body px-0 py-1">
              <div class="row p-1 mx-0">
                <div class="d-none d-md-block col-md-4"></div>
                <h3 class="h5 col-12 col-md-4 text-center">
                  <b>Showing {{ .Block.AttestationsCount }} Attestations</b>
                </h3>
              </div>
            </div>
          </div>
          {{ template "block_attestations" . }}
        </div>
        <div class="tab-pane fade show active" id="proofs" role="tabpanel" aria-labelledby="proofs-tab">
          <div class="card block-card">
            <div style="margin-bottom: -.25rem;" class="card-body px-0 py-1">
              <div class="row p-1 mx-0">
                <h3 class="h5 col-md-12 text-center"><b>Proofs</b></h3>
              </div>
            </div>
          </div>
          {{ template "block_proofs" . }}
        </div>
        {{ if gt .Block.DepositsCount 0 }}
          <div class="tab-pane fade show active" id="deposits" role="tabpanel" aria-labelledby="deposits-tab">
            <div class="card block-card">
              <div style="margin-bottom: -.25rem;" class="card-body px-0 py-1">
                <div class="row p-1 mx-0">
                  <h3 class="h5 col-md-12 text-center"><b>Showing {{ .Block.DepositsCount }} Deposits </b></h3>
                </div>
              </div>
              {{ template "block_deposits" . }}
            </div>
          </div>
        {{ end }}
        {{ if gt .Block.VoluntaryExitsCount 0 }}
          <div class="tab-pane fade show active" id="voluntary-exits" role="tabpanel" aria-labelledby="voluntary-exits-tab">
            <div class="card block-card">
              <div style="margin-bottom: -.25rem;" class="card-body px-0 py-1">
                <div class="row p-1 mx-0">
                  <h3 class="h5 col-md-12 text-center"><b>Showing {{ .Block.VoluntaryExitsCount }} Exits </b></h3>
                </div>
              </div>
              {{ template "block_voluntary_exits" . }}
            </div>
          </div>
        {{ end }}
        {{ if gt .Block.AttesterSlashingsCount 0 }}
          <div class="tab-pane fade show active" id="attester-slashings" role="tabpanel" aria-labelledby="attester-slashings-tab">
            <div class="card block-card">
              <div style="margin-bottom: -.25rem;" class="card-body px-0 py-1">
                <div class="row p-1 mx-0">
                  <h3 class="h5 col-md-12 text-center"><b>Showing {{ .Block.AttesterSlashingsCount }} Attester Slashing(s) </b></h3>
                </div>
              </div>
            </div>
            {{ template "block_attesterSlashing" . }}
          </div>
        {{ end }}
        {{ if gt .Block.ProposerSlashingsCount 0 }}
          <div class="tab-pane fade show active" id="proposer-slashings" role="tabpanel" aria-labelledby="proposer-slashings-tab">
            <div class="card block-card">
              <div style="margin-bottom: -.25rem;" class="card-body px-0 py-1">
                <div class="row p-1 mx-0">
                  <h3 class="h5 col-md-12 text-center"><b>Showing {{ .Block.ProposerSlashingsCount }} Proposer Slashing(s) </b></h3>
                </div>
              </div>
            </div>
            {{ template "block_proposerSlashing" . }}
          </div>
        {{ end }}
        {{ if gt .Block.WithdrawalsCount 0 }}
          <div class="tab-pane fade show active" id="withdrawals" role="tabpanel" aria-labelledby="withdrawals-tab">
            <div class="card block-card">
              <div style="margin-bottom: -.25rem;" class="card-body px-0 py-1">
                <div class="row p-1 mx-0">
                  <h3 class="h5 col-md-12 text-center"><b>Showing {{ .Block.WithdrawalsCount }} Withdrawals </b></h3>
                </div>
              </div>
              {{ template "block_withdrawals" . }}
            </div>
          </div>
        {{ end }}
        {{ if gt .Block.BLSChangesCount 0 }}
          <div class="tab-pane fade show active" id="blsChange" role="tabpanel" aria-labelledby="blsChange-tab">
            <div class="card block-card">
              <div style="margin-bottom: -.25rem;" class="card-body px-0 py-1">
                <div class="row p-1 mx-0">
                  <h3 class="h5 col-md-12 text-center"><b>Showing {{ .Block.BLSChangesCount }} BLS changes </b></h3>
                </div>
              </div>
              {{ template "block_blsChange" . }}
            </div>
          </div>
        {{ end }}
        {{ if gt .Block.BlobsCount 0 }}
          <div class="tab-pane fade show active" id="blobSidecars" role="tabpanel" aria-labelledby="blobSidecars-tab">
            <div class="card block-card">
              <div style="margin-bottom: -.25rem;" class="card-body px-0 py-1">
                <div class="row p-1 mx-0">
                  <h3 class="h5 col-md-12 text-center"><b>Showing {{ .Block.BlobsCount }} Blob sidecars </b></h3>
                </div>
              </div>
            </div>
            {{ template "block_blobSidecar" . }}
          </div>
        {{ end }}
        {{ if gt .Block.DepositRequestsCount 0 }}
          <div class="tab-pane fade show active" id="depositRequests" role="tabpanel" aria-labelledby="depositRequests-tab">
            <div class="card block-card">
              <div style="margin-bottom: -.25rem;" class="card-body px-0 py-1">
                <div class="row p-1 mx-0">
                  <h3 class="h5 col-md-12 text-center"><b>Showing {{ .Block.DepositRequestsCount }} Deposit Requests</b></h3>
                </div>
              </div>
            </div>
            {{ template "block_deposit_requests" . }}
          </div>
        {{ end }}
        {{ if gt .Block.WithdrawalRequestsCount 0 }}
          <div class="tab-pane fade show active" id="withdrawalRequests" role="tabpanel" aria-labelledby="withdrawalRequests-tab">
            <div class="card block-card">
              <div style="margin-bottom: -.25rem;" class="card-body px-0 py-1">
                <div class="row p-1 mx-0">
                  <h3 class="h5 col-md-12 text-center"><b>Showing {{ .Block.WithdrawalRequestsCount }} Withdrawal Requests</b></h3>
                </div>
              </div>
            </div>
            {{ template "block_withdrawal_requests" . }}
          </div>
        {{ end }}
        {{ if gt .Block.ConsolidationRequestsCount 0 }}
          <div class="tab-pane fade show active" id="consolidationRequests" role="tabpanel" aria-labelledby="consolidationRequests-tab">
            <div class="card block-card">
              <div style="margin-bottom: -.25rem;" class="card-body px-0 py-1">
                <div class="row p-1 mx-0">
                  <h3 class="h5 col-md-12 text-center"><b>Showing {{ .Block.ConsolidationRequestsCount }} Consolidation Requests </b></h3>
                </div>
              </div>
            </div>
            {{ template "block_consolidation_requests" . }}
          </div>
        {{ end }}
        {{ if .Block }}
          <div class="tab-pane fade" id="download" role="tabpanel" aria-labelledby="download-tab">
            <div class="card block-card">
              <div class="card-body">
                <h3 class="h5 mb-4">Download Block Data</h3>

                <div class="row g-4">
                  <div class="col-md-6">
                    <div class="card h-100">
                      <div class="card-header">
                        <h4 class="h6 mb-0">Signed Beacon Block Header</h4>
                      </div>
                      <div class="card-body">
                        <div class="d-grid gap-2">
                          <a href="?download=header-ssz" class="btn btn-outline-primary">
                            <i class="fas fa-file-download me-2"></i>Download as SSZ
                          </a>
                          <a href="?download=header-json" class="btn btn-outline-primary">
                            <i class="fas fa-file-download me-2"></i>Download as JSON
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="card h-100">
                      <div class="card-header">
                        <h4 class="h6 mb-0">Signed Beacon Block</h4>
                      </div>
                      <div class="card-body">
                        <div class="d-grid gap-2">
                          <a href="?download=block-ssz" class="btn btn-outline-primary">
                            <i class="fas fa-file-download me-2"></i>Download as SSZ
                          </a>
                          <a href="?download=block-json" class="btn btn-outline-primary">
                            <i class="fas fa-file-download me-2"></i>Download as JSON
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                {{ if .Block.ExecutionData }}
                <hr class="my-4">
                <h3 class="h5 mb-4">Execution Data</h3>
                <div class="row g-4">
                  <div class="col-md-6">
                    <div class="card h-100">
                      <div class="card-header">
                        <h4 class="h6 mb-0">Execution Block</h4>
                      </div>
                      <div class="card-body">
                        <div class="d-grid gap-2">
                          <a href="?download=block-body-json" class="btn btn-outline-primary">
                            <i class="fas fa-file-download me-2"></i>Download as JSON
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{ if .Block.ExecutionData.HasExecData }}
                  <div class="col-md-6">
                    <div class="card h-100">
                      <div class="card-header">
                        <h4 class="h6 mb-0">Block Receipts</h4>
                      </div>
                      <div class="card-body">
                        <div class="d-grid gap-2">
                          <a href="?download=receipts-json" class="btn btn-outline-primary">
                            <i class="fas fa-file-download me-2"></i>Download as JSON
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{ end }}
                </div>
                {{ end }}

                {{ if .TracoorUrl }}
                <hr class="my-4">
                <h3 class="h5 mb-4">Tracoor Traces</h3>
                <div id="tracoor-content">
                  <div class="text-center py-4">
                    <div class="spinner-border text-primary" role="status">
                      <span class="visually-hidden">Loading...</span>
                    </div>
                    <p class="mt-3 text-muted mb-0">Loading Tracoor traces...</p>
                  </div>
                </div>
                {{ end }}
              </div>
            </div>
          </div>
        {{ end }}
      {{ end }}
    </div>
    <script type="text/javascript">
      Array.prototype.forEach.call(document.getElementById("tabContent").querySelectorAll(".tab-pane"), function(paneEl, paneIdx) {
        if(paneIdx > 0) {
          paneEl.classList.remove("active");
          paneEl.classList.remove("show");
        }
      });
      $(function() {
        if(location.hash)
          $('.nav-tabs a[href="' + location.hash + '"]').tab('show');

        // Handle EIP-7918 info button click
        $('.eip7918-info-btn').on('click', function(e) {
          e.preventDefault();
          $('#eip7918-details').toggleClass('d-none');
        });

        {{ if and .Block .TracoorUrl }}
        // Tracoor lazy loading
        var tracoorLoaded = false;
        var tracoorUrl = "{{ .TracoorUrl }}";
        var blockRoot = "0x{{ printf "%x" .Block.BlockRoot }}";
        var stateRoot = "0x{{ printf "%x" .Block.StateRoot }}";
        var executionBlockHash = {{ if .Block.ExecutionData }}"0x{{ printf "%x" .Block.ExecutionData.BlockHash }}"{{ else }}""{{ end }};

        $('#download-tab').on('shown.bs.tab', function() {
          if (tracoorLoaded) return;
          tracoorLoaded = true;
          loadTracoorData();
        });

        // Also load if URL hash is #download on page load
        if (location.hash === '#download') {
          loadTracoorData();
          tracoorLoaded = true;
        }

        function loadTracoorData() {
          var params = new URLSearchParams();
          if (stateRoot) params.append('stateRoot', stateRoot);
          if (executionBlockHash) params.append('executionBlockHash', executionBlockHash);

          $.ajax({
            url: '/slot/' + blockRoot + '/tracoor?' + params.toString(),
            method: 'GET',
            dataType: 'json',
            success: function(data) {
              renderTracoorData(data);
            },
            error: function(xhr, status, error) {
              $('#tracoor-content').html('<div class="alert alert-danger">Failed to load Tracoor data: ' + error + '</div>');
            }
          });
        }

        function renderTracoorData(data) {
          var html = '<div class="row">';

          // Beacon Block Traces
          html += '<div class="col-12 mb-4">';
          html += '<h5 class="mb-3"><i class="fas fa-cube me-2"></i>Beacon Block Traces';
          if (data.beacon_blocks && data.beacon_blocks.length > 0) {
            html += ' <span class="badge bg-secondary">' + data.beacon_blocks.length + '</span>';
          }
          html += '</h5>';
          if (data.beacon_blocks_error) {
            html += '<div class="alert alert-warning mb-0"><i class="fas fa-exclamation-triangle me-2"></i>' + escapeHtml(data.beacon_blocks_error) + '</div>';
          } else if (data.beacon_blocks && data.beacon_blocks.length > 0) {
            html += renderTracoorTable(data.beacon_blocks, 'beacon_block', data.tracoor_url);
          } else {
            html += '<p class="text-muted mb-0"><i class="fas fa-info-circle me-2"></i>No beacon block traces available.</p>';
          }
          html += '</div>';

          // Beacon State Traces
          html += '<div class="col-12 mb-4">';
          html += '<h5 class="mb-3"><i class="fas fa-database me-2"></i>Beacon State Traces';
          if (data.beacon_states && data.beacon_states.length > 0) {
            html += ' <span class="badge bg-secondary">' + data.beacon_states.length + '</span>';
          }
          html += '</h5>';
          if (data.beacon_states_error) {
            html += '<div class="alert alert-warning mb-0"><i class="fas fa-exclamation-triangle me-2"></i>' + escapeHtml(data.beacon_states_error) + '</div>';
          } else if (data.beacon_states && data.beacon_states.length > 0) {
            html += renderTracoorTable(data.beacon_states, 'beacon_state', data.tracoor_url);
          } else {
            html += '<p class="text-muted mb-0"><i class="fas fa-info-circle me-2"></i>No beacon state traces available.</p>';
          }
          html += '</div>';

          // Execution Block Traces
          html += '<div class="col-12">';
          html += '<h5 class="mb-3"><i class="fas fa-microchip me-2"></i>Execution Block Traces';
          if (data.execution_block_traces && data.execution_block_traces.length > 0) {
            html += ' <span class="badge bg-secondary">' + data.execution_block_traces.length + '</span>';
          }
          html += '</h5>';
          if (data.execution_block_trace_error) {
            html += '<div class="alert alert-warning mb-0"><i class="fas fa-exclamation-triangle me-2"></i>' + escapeHtml(data.execution_block_trace_error) + '</div>';
          } else if (data.execution_block_traces && data.execution_block_traces.length > 0) {
            html += renderTracoorTable(data.execution_block_traces, 'execution_block_trace', data.tracoor_url);
          } else {
            html += '<p class="text-muted mb-0"><i class="fas fa-info-circle me-2"></i>No execution block traces available.</p>';
          }
          html += '</div>';

          html += '</div>';
          $('#tracoor-content').html(html);
        }

        function getClientBadgeClass(client) {
          var clientLower = (client || '').toLowerCase();
          var badgeClasses = {
            'lighthouse': 'bg-primary',
            'prysm': 'bg-success',
            'teku': 'bg-info',
            'nimbus': 'bg-warning text-dark',
            'lodestar': 'bg-danger',
            'grandine': 'bg-secondary',
            'geth': 'bg-primary',
            'nethermind': 'bg-success',
            'besu': 'bg-info',
            'erigon': 'bg-warning text-dark',
            'reth': 'bg-danger'
          };
          return badgeClasses[clientLower] || 'bg-secondary';
        }

        function renderTracoorTable(items, type, tracoorBaseUrl) {
          var isExecution = type === 'execution_block_trace';
          var implField = isExecution ? 'execution_implementation' : 'beacon_implementation';

          var html = '<div class="table-responsive"><table class="table table-sm table-hover align-middle mb-0">';
          html += '<thead><tr>';
          html += '<th style="width: 30%;">Node</th>';
          html += '<th style="width: 12%;">Client</th>';
          html += '<th style="width: 35%;">Version</th>';
          html += '<th style="width: 18%;">Fetched At</th>';
          html += '<th style="width: 5%;" class="text-center">Download</th>';
          html += '</tr></thead><tbody>';

          for (var i = 0; i < items.length; i++) {
            var item = items[i];
            var impl = item[implField] || '-';
            var fetchedAt = new Date(item.fetched_at).toLocaleString();
            var downloadUrl = tracoorBaseUrl + '/download/' + type + '/' + item.id;
            var badgeClass = getClientBadgeClass(impl);

            html += '<tr>';
            html += '<td class="text-truncate font-monospace small" style="max-width: 0;" title="' + escapeHtml(item.node) + '">' + escapeHtml(item.node) + '</td>';
            html += '<td><span class="badge ' + badgeClass + '">' + escapeHtml(impl) + '</span></td>';
            html += '<td class="text-truncate small" style="max-width: 0;" title="' + escapeHtml(item.node_version) + '">' + escapeHtml(item.node_version) + '</td>';
            html += '<td class="small">' + escapeHtml(fetchedAt) + '</td>';
            html += '<td class="text-center"><a href="' + escapeHtml(downloadUrl) + '" class="btn btn-sm btn-outline-primary" target="_blank" title="Download trace"><i class="fas fa-download"></i></a></td>';
            html += '</tr>';
          }

          html += '</tbody></table></div>';
          return html;
        }

        function escapeHtml(text) {
          if (!text) return '';
          var div = document.createElement('div');
          div.textContent = text;
          return div.innerHTML;
        }
        {{ end }}
      });
    </script>
    <div id="footer-placeholder" style="height:71px;"></div>
  </div>
{{ end }}
{{ define "js" }}
{{ end }}
{{ define "css" }}
<style>
  .eip7918-info-btn {
    cursor: pointer;
    transition: opacity 0.2s;
  }
  .eip7918-info-btn:hover {
    opacity: 0.8;
  }
</style>
{{ end }}