{{ define "block_transactions" }}
  <div class="table-ellipsis px-0">
    <table class="table" id="block_transactions">
      <thead>
        <tr>
          <th>#</th>
          <th>Hash</th>
          <th>From</th>
          <th>To</th>
          <th>Method</th>
          <th>Value</th>
          <th>Call Data</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{ range $i, $transaction := .Block.Transactions }}
          <tr>
            <td>{{ $i }}</td>
            <td class="text-monospace">
              <div class="ellipsis-copy-btn">
                <i class="fa fa-copy text-muted ml-2 p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" $transaction.Hash }}"></i>
              </div>
              0x{{ printf "%x" $transaction.Hash }}
            </td>
            <td class="text-monospace">
              <div class="ellipsis-copy-btn">
                <i class="fa fa-copy text-muted ml-2 p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="{{ $transaction.From }}"></i>
              </div>
              {{ $transaction.From }}
            </td>
            <td class="text-monospace">
              <div class="ellipsis-copy-btn">
                <i class="fa fa-copy text-muted ml-2 p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="{{ $transaction.To }}"></i>
              </div>
              {{ $transaction.To }}
            </td>
            <td>
              {{ if eq $transaction.FuncSigStatus 10 }}
                <span class="badge rounded-pill text-bg-secondary" style="font-size: 12px; font-weight: 500;">{{ $transaction.FuncName }}</span>
              {{ else if eq $transaction.FuncSigStatus 1 }}
                <span class="badge rounded-pill text-bg-secondary" style="font-size: 12px; font-weight: 500;" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="call {{ $transaction.FuncBytes }}: {{ $transaction.FuncSig }}">{{ $transaction.FuncName }}</span>
              {{ else }}
                <span class="badge rounded-pill text-bg-secondary" style="font-size: 12px; font-weight: 500;" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="call {{ $transaction.FuncBytes }}">{{ $transaction.FuncName }}</span>
              {{ end }}
            </td>
            <td>{{ formatTransactionValue $transaction.Value }}</td>
            <td>
              {{ if gt $transaction.DataLen 0 }}
                <span class="badge rounded-pill text-bg-secondary" style="font-size: 12px; font-weight: 500;">{{ $transaction.DataLen }} B</span>
                <i class="fa fa-copy text-muted ml-2 p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" $transaction.Data }}"></i>
              {{ end }}
            </td>
            <td>
              <i class="fa fa-circle-info text-muted ml-2 p-1" role="button" data-bs-toggle="tooltip" data-bs-html="true" data-bs-title="{{ "" -}}
                TX Type: {{ $transaction.Type }}<br>
              {{- "" }}"></i>
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
{{ end }}
