{{ define "block_withdrawals" }}
  <div class="table-ellipsis">
    <table id="block_withdrawals" class="table table-sm text-left">
      <thead>
        <tr>
          <th class="border-0">Index</th>
          <th class="border-0">Validator Index</th>
          <th class="border-0">Type</th>
          <th class="border-0">Ref</th>
          <th class="border-0">Recipient Address</th>
          <th class="border-0">Amount</th>
        </tr>
      </thead>
      <tbody>
        {{ range $i, $withdrawal := .Block.Withdrawals }}
          <tr>
            <td>{{ $withdrawal.Index }}</td>
            <td>
              {{ if $withdrawal.IsBuilder }}
                {{ formatBuilderWithIndex $withdrawal.ValidatorIndex $withdrawal.ValidatorName }}
              {{ else }}
                {{ formatValidatorWithIndex $withdrawal.ValidatorIndex $withdrawal.ValidatorName }}
              {{ end }}
            </td>
            <td>
              {{ if eq $withdrawal.Type 1 }}
                <span class="badge text-bg-primary"><i class="fas fa-arrow-down me-1"></i>Full</span>
              {{ else if eq $withdrawal.Type 2 }}
                <span class="badge text-bg-success"><i class="fas fa-broom me-1"></i>Sweep</span>
              {{ else if eq $withdrawal.Type 3 }}
                <span class="badge text-bg-warning"><i class="fas fa-hand-holding me-1"></i>Requested</span>
              {{ else if eq $withdrawal.Type 4 }}
                <span class="badge text-bg-primary"><i class="fas fa-building me-1"></i>Builder Withdrawal</span>
              {{ else if eq $withdrawal.Type 5 }}
                <span class="badge text-bg-info"><i class="fas fa-building me-1"></i>Builder Payment</span>
              {{ else if eq $withdrawal.Type 6 }}
                <span class="badge text-bg-secondary"><i class="fas fa-building me-1"></i>Builder Delayed</span>
              {{ else }}
                -
              {{ end }}
            </td>
            <td>
              {{ if gt $withdrawal.RefSlot 0 }}
                {{ if $withdrawal.RefSlotRoot }}
                  <a href="/slot/0x{{ printf "%x" $withdrawal.RefSlotRoot }}">{{ formatAddCommas $withdrawal.RefSlot }}</a>
                {{ else }}
                  {{ formatAddCommas $withdrawal.RefSlot }}
                {{ end }}
              {{ else }}
                -
              {{ end }}
            </td>
            <td>{{ ethAddressLink $withdrawal.Address }}</td>
            <td>{{ formatEthFromGweiP $withdrawal.Amount 6 }}</td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
{{ end }}

{{ define "block_blsChange" }}
  <div class="table-ellipsis">
    <table id="block_blsChange" class="table table-sm text-left">
      <thead>
        <tr>
          <th class="border-0">Validator Index</th>
          <th class="border-0">Signature</th>
          <th class="border-0">BLS Public Key</th>
          <th class="border-0">New Withdrawal Address</th>
        </tr>
      </thead>
      <tbody>
        {{ range $i, $blschange := .Block.BLSChanges }}
          <tr>
            <td>{{ formatValidatorWithIndex $blschange.ValidatorIndex $blschange.ValidatorName }}</td>
            <td>0x{{ printf "%x" $blschange.Signature }}</td>
            <td>0x{{ printf "%x" $blschange.BlsPubkey }}</td>
            <td>{{ ethAddressLink $blschange.Address }}</td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
{{ end }}
