logging:
  #outputLevel: "debug"
  #outputStderr: false

  #filePath: "explorer.log"
  #fileLevel: "warn"

# Chain network configuration
chain:
  #name: "mainnet"
  #genesisTimestamp: 1690484700
  #genesisValidatorsRoot: "0xbf3c3d4683a5a4d286cd2a5ef7a5c1702f649eee82cdc7e87e05030102d12ccf"
  configPath: "config.yaml"
  #genesisTimestamp: 1688126460
  #configPath: "config-devnet7.yaml"
  displayName: "Ephemery Iteration 86"

# HTTP Server configuration
server:
  host: "localhost" # Address to listen on
  port: "8080" # Port to listen on


frontend:
  enabled: true # Enable or disable to web frontend
  debug: true
  minimize: false
  siteName: "Dora the Explorer" # Name of the site, displayed in the title tag
  siteSubtitle: "Ephemery"
  ethExplorerLink: "https://explorer.ephemery.dev/"
  validatorNamesYaml: "validator_names.yaml"
  #validatorNamesInventory: "https://config.4844-devnet-7.ethpandaops.io/api/v1/nodes/validator-ranges"
  
beaconapi:
  endpoints:
    - name: "pk01"
      url: "http://10.16.71.108:5052"
      priority: 4
      archive: true
    - name: "lh"
      url: "http://10.16.97.2:5052"
      priority: 5
    - name: "teku"
      url: "http://10.16.97.3:5051"
      priority: 5
  #endpoint: "http://10.16.71.102:5052"
  localCacheSize: 100 # 100MB
  redisCacheAddr: ""
  redisCachePrefix: ""

indexer:
  inMemoryEpochs: 2
  disableIndexWriter: false
  syncEpochCooldown: 1

database:
  engine: "sqlite"
  sqlite:
    file: "./tmp-database.sqlite"
    #file: ":memory:"
  pgsql:
    host: "10.16.97.2"
    port: 5432
    user: "pk910"
    password: "SBekcBFpRW9rZrVL" # internal dev DB, no worries about password leaking ;)
    name: "pk910"
  pgsqlWriter:
    host: "10.16.97.2"
    port: 5432
    user: "pk910"
    password: "SBekcBFpRW9rZrVL" # internal dev DB, no worries about password leaking ;)
    name: "pk910"
