participants_matrix:
  el:
    - el_type: geth

  cl:
    - cl_type: lighthouse
    # - cl_type: prysm
    # - cl_type: teku
    # - cl_type: nimbus
    # - cl_type: grandine
    # - cl_type: lodestar

network_params:
  preset: minimal

additional_services:
  - dora # needed for config exctraction

# mev_type: flashbots
# snooper_enabled: true
