{{ define "page" }}
<div class="container mt-2">
  <form method="get" action="/transfers" class="el-filter-form">
    <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap gap-2">
      <h1 class="h4 mb-0">Token Transfers</h1>
      <div class="d-flex align-items-center gap-2">
        <button class="btn btn-sm btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#trFilters">
          <i class="fas fa-filter me-1"></i>Filters{{ if .Filter.Active }} <span class="badge text-bg-primary">on</span>{{ end }}
        </button>
        <select name="d" multiple="multiple" class="filter-multiselect column-multiselect">
          <option value="1" {{ if .DisplayBlock }}selected{{ end }}>Block</option>
          <option value="2" {{ if .DisplayAge }}selected{{ end }}>Age</option>
          <option value="3" {{ if .DisplayMethod }}selected{{ end }}>Method</option>
          <option value="4" {{ if .DisplayAmount }}selected{{ end }}>Amount</option>
          <option value="5" {{ if .DisplayToken }}selected{{ end }}>Token</option>
          <option value="6" {{ if .DisplayStatus }}selected{{ end }}>Status</option>
          <option value="7" {{ if .DisplayTokenType }}selected{{ end }}>Token Type</option>
        </select>
        <input type="hidden" class="column-mask">
        <div class="d-inline-flex align-items-center">
          <span class="text-muted small me-1">Show</span>
          <select name="c" class="form-select form-select-sm w-auto" onchange="this.form.submit()">
            <option value="{{ .PageSize }}" selected>{{ .PageSize }}</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
      </div>
    </div>

    <div class="collapse{{ if .Filter.Active }} show{{ end }}" id="trFilters">
      <div class="card mt-2 mb-3">
        <div class="card-header">Transfer Filters</div>
        <div class="card-body p-2">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="container">
                <div class="row mt-1">
                  <div class="col-sm-12 col-md-6 col-lg-4"><nobr>Slot</nobr></div>
                  <div class="col-sm-12 col-md-6 col-lg-8 d-flex">
                    <div class="flex-grow-1"><input name="minslot" type="number" class="form-control" placeholder="Min" min="0" value="{{ .Filter.MinSlot }}"></div>
                    <div class="text-center filter-separator">-</div>
                    <div class="flex-grow-1"><input name="maxslot" type="number" class="form-control" placeholder="Max" min="0" value="{{ .Filter.MaxSlot }}"></div>
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-sm-12 col-md-6 col-lg-4"><nobr>From</nobr></div>
                  <div class="col-sm-12 col-md-6 col-lg-8">
                    <input name="from" type="text" class="form-control text-monospace" placeholder="0x..." value="{{ .Filter.From }}">
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-sm-12 col-md-6 col-lg-4"><nobr>To</nobr></div>
                  <div class="col-sm-12 col-md-6 col-lg-8">
                    <input name="to" type="text" class="form-control text-monospace" placeholder="0x..." value="{{ .Filter.To }}">
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-sm-12 col-md-6 col-lg-4"><nobr>Amount</nobr></div>
                  <div class="col-sm-12 col-md-6 col-lg-8 d-flex">
                    <div class="flex-grow-1"><input name="minamount" type="number" step="any" class="form-control" placeholder="Min" value="{{ .Filter.MinAmount }}"></div>
                    <div class="text-center filter-separator">-</div>
                    <div class="flex-grow-1"><input name="maxamount" type="number" step="any" class="form-control" placeholder="Max" value="{{ .Filter.MaxAmount }}"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="container">
                <div class="row mt-1">
                  <div class="col-sm-12 col-md-6 col-lg-4"><nobr>Token Type</nobr></div>
                  <div class="col-sm-12 col-md-6 col-lg-8">
                    <select name="ttype" multiple="multiple" class="filter-multiselect">
                      <option value="1" {{ if .Filter.TypeERC20 }}selected{{ end }}>ERC20</option>
                      <option value="2" {{ if .Filter.TypeERC721 }}selected{{ end }}>ERC721</option>
                      <option value="3" {{ if .Filter.TypeERC1155 }}selected{{ end }}>ERC1155</option>
                    </select>
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-sm-12 col-md-6 col-lg-4"><nobr>Token</nobr></div>
                  <div class="col-sm-12 col-md-6 col-lg-8">
                    <input name="token" type="text" class="form-control text-monospace" placeholder="Contract 0x..." value="{{ .Filter.Token }}">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="text-end mt-2">
                <a href="/transfers?c={{ .PageSize }}" class="btn btn-outline-secondary">Reset</a>
                <button type="submit" class="btn btn-primary">Apply Filter</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="card">
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-hover table-nobr mb-0 el-data-table">
          <thead>
            <tr>
              <th>Txn Hash</th>
              {{ if .DisplayBlock }}<th>Block</th>{{ end }}
              {{ if .DisplayAge }}<th data-timecol="duration">Age</th>{{ end }}
              {{ if .DisplayMethod }}<th>Method</th>{{ end }}
              <th>From</th>
              <th></th>
              <th>To</th>
              {{ if .DisplayAmount }}<th>Amount</th>{{ end }}
              {{ if .DisplayToken }}<th>Token</th>{{ end }}
              {{ if .DisplayTokenType }}<th>Type</th>{{ end }}
              {{ if .DisplayStatus }}<th>Status</th>{{ end }}
            </tr>
          </thead>
          <tbody>
            {{ if gt (len .Transfers) 0 }}
              {{ range .Transfers }}
                <tr>
                  {{ if gt .TxHashRowspan 0 }}
                  <td class="text-monospace addr-cell align-top"{{ if gt .TxHashRowspan 1 }} rowspan="{{ .TxHashRowspan }}"{{ end }}>
                    <a href="/tx/{{ formatHexBytes .TxHash }}" data-bs-toggle="tooltip" title="{{ formatHexBytes .TxHash }}">{{ formatEthHashShort .TxHash 6 }}</a>
                  </td>
                  {{ if $.DisplayBlock }}
                  <td class="align-top"{{ if gt .TxHashRowspan 1 }} rowspan="{{ .TxHashRowspan }}"{{ end }}>
                    {{ if gt (len .BlockRoot) 0 }}
                      <a href="/slot/0x{{ printf "%x" .BlockRoot }}">{{ formatAddCommas .BlockNumber }}</a>
                    {{ else }}
                      {{ formatAddCommas .BlockNumber }}
                    {{ end }}
                  </td>
                  {{ end }}
                  {{ if $.DisplayAge }}
                  <td class="align-top" data-timer="{{ .BlockTime.Unix }}"{{ if gt .TxHashRowspan 1 }} rowspan="{{ .TxHashRowspan }}"{{ end }}>
                    <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ .BlockTime }}">{{ formatRecentTimeShort .BlockTime }}</span>
                  </td>
                  {{ end }}
                  {{ if $.DisplayMethod }}
                  <td class="align-top"{{ if gt .TxHashRowspan 1 }} rowspan="{{ .TxHashRowspan }}"{{ end }}>
                    {{ if .MethodName }}
                      <span class="badge text-bg-secondary method-badge" data-bs-toggle="tooltip" title="{{ .MethodName }}{{ if gt (len .MethodID) 0 }} (0x{{ printf "%x" .MethodID }}){{ end }}">{{ .MethodName }}</span>
                    {{ else }}
                      <span class="text-muted">-</span>
                    {{ end }}
                  </td>
                  {{ end }}
                  {{ end }}
                  <td class="text-monospace addr-cell">
                    {{ formatEthAddressShortLink .FromAddr .FromIsContract }}
                  </td>
                  <td class="text-center"><i class="fa fa-arrow-right text-muted"></i></td>
                  <td class="text-monospace addr-cell">
                    {{ formatEthAddressShortLink .ToAddr .ToIsContract }}
                  </td>
                  {{ if $.DisplayAmount }}
                  <td>
                    {{ if eq .TokenType 1 }}
                      {{ formatTokenAmount .Amount "" }}
                    {{ else if eq .TokenType 3 }}
                      {{ formatNFTTokenID .AmountRaw }}x <span class="text-muted">#{{ if gt (len .TokenIndex) 0 }}{{ formatNFTTokenID .TokenIndex }}{{ else }}0{{ end }}</span>
                    {{ else }}
                      <span class="text-muted">#{{ if gt (len .TokenIndex) 0 }}{{ formatNFTTokenID .TokenIndex }}{{ else }}0{{ end }}</span>
                    {{ end }}
                  </td>
                  {{ end }}
                  {{ if $.DisplayToken }}
                  <td>
                    <a href="/token/{{ formatEthAddressFull .Contract }}" data-bs-toggle="tooltip" title="{{ formatEthAddressFull .Contract }}">
                      {{ if .TokenSymbol }}{{ .TokenSymbol }}{{ else if .TokenName }}{{ .TokenName }}{{ else }}Unknown{{ end }}
                    </a>
                  </td>
                  {{ end }}
                  {{ if $.DisplayTokenType }}
                  <td class="text-nowrap"><span class="badge text-bg-light">{{ if eq .TokenType 1 }}ERC20{{ else if eq .TokenType 2 }}ERC721{{ else if eq .TokenType 3 }}ERC1155{{ else }}?{{ end }}</span></td>
                  {{ end }}
                  {{ if $.DisplayStatus }}
                  <td class="text-nowrap">
                    {{ if .BlockOrphaned }}
                      <span class="badge text-bg-info" data-bs-toggle="tooltip" title="Block was orphaned">Orphaned</span>
                    {{ else }}
                      <span class="badge text-bg-success" data-bs-toggle="tooltip" title="Block is canonical">Included</span>
                    {{ end }}
                  </td>
                  {{ end }}
                </tr>
              {{ end }}
            {{ else }}
              <tr>
                <td colspan="11" class="text-center py-4 text-muted">
                  <i class="fas fa-coins fa-2x mb-2"></i>
                  <br>No token transfers found
                </td>
              </tr>
            {{ end }}
          </tbody>
        </table>
      </div>

      <div class="card-footer d-flex justify-content-end align-items-center">
        {{ template "pager" .Pager }}
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ define "js" }}{{ template "elFilterJs" . }}{{ end }}
{{ define "css" }}{{ template "elFilterCss" . }}{{ end }}
