{{ define "recentSlots" }}
  <div class="card">
    <div class="card-header">
      <h5 class="card-title d-flex justify-content-between align-items-center" style="margin: .4rem 0;">
        <span><i class="fa fa-cubes"></i> Most recent slots</span>
        <a class="btn btn-primary btn-sm float-right text-white" href="/slots">View more</a>
      </h5>
    </div>
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-nobr" id="recent-slots">
          <thead>
            <tr>
              <th>Chain</th>
              <th>Epoch</th>
              <th>Slot</th>
              <th>Status</th>
              <th data-timecol="duration">Time</th>
              <th>Proposer</th>
            </tr>
          </thead>
          <tbody class="template-tbody">
            {{ html "<!-- ko foreach: slots -->" }}
            <tr class="template-row">
              <td class="graph-container" data-bind="style: {width: $root.forktree_width() + 'px'}">
                {{ html "<!-- ko foreach: fork_graph -->" }}
                <div class="graph-fork" data-bind="attr: {'data-index': index}, style: {left: left + 'px'}">
                  {{ html "<!-- ko foreach: Object.keys(tiles) -->" }}
                    <div data-bind="class: 'graph-layer graph-layer-'+$data"></div>
                  {{ html "<!-- /ko -->" }}
                  <div class="graph-layer graph-layer-block" data-bind="if: block">
                    <i class="fas fa-circle"></i>
                  </div>
                </div>
                {{ html "<!-- /ko -->" }}
              </td>
              <td><a data-bind="attr: {href: '/epoch/'+epoch}, text: $root.formatAddCommas(epoch)"></a></td>
              <td>
                <div data-bind="if: (status == 2)"><a data-bind="attr: {href: '/slot/' + $root.hexstr(block_root)}, text: $root.formatAddCommas(slot)"></a></div>
                <div data-bind="ifnot: (status == 2)"><a data-bind="attr: {href: '/slot/' + slot}, text: $root.formatAddCommas(slot)"></a></div>
              </td>
              <td>
                <span data-bind="if: slot == 0" class="badge rounded-pill text-bg-info">Genesis</span>
                <span data-bind="if: slot > 0 && status == 0" class="badge rounded-pill text-bg-warning">Missed</span>
                <span data-bind="if: slot > 0 && status == 1, css: {'split-warning': payload_status == 0, 'split-info': payload_status == 2}" class="badge rounded-pill text-bg-success">Proposed</span>
                <span data-bind="if: slot > 0 && status == 2, css: {'split-warning': payload_status == 0, 'split-info': payload_status == 2}" class="badge rounded-pill text-bg-info">Missed (Orphaned)</span>
                <span data-bind="if: slot > 0 && status > 2, css: {'split-warning': payload_status == 0, 'split-info': payload_status == 2}" class="badge rounded-pill text-bg-dark">Unknown</span>
              </td>
              <td data-bind="attr: {'data-timer': $root.unixtime(ts)}">
                <span data-bs-toggle="tooltip" data-bs-placement="top" data-bind="attr: {'data-bs-title': $root.timestamp(ts)}, text: $root.formatRecentTimeShort(ts)"></span>
              </td>
              <td>
                <span data-bind="if: slot > 0">
                  <span data-bind="html: $root.formatValidator(proposer, proposer_name)"></span>
                </span>
              </td>
            </tr>
            {{ html "<!-- /ko -->" }}
            {{ html "<!-- ko if: slots().length == 0 -->" }}
            <tr class="template-row" style="height: 430px;">
              <td></td>
              <td style="vertical-align: middle;" colspan="4">
                <div class="img-fluid mx-auto p-3 d-flex align-items-center" style="max-height: 400px; width: auto; overflow: hidden;">
                  {{ template "timeline_svg" }}
                </div>
              </td>
              <td></td>
            </tr>
            {{ html "<!-- /ko -->" }}
            {{ if gt .RecentSlotCount 0 }}
              {{ $treeWidth := .ForkTreeWidth }}
              {{ range $i, $slot := .RecentSlots }}
                <tr>
                  <td class="graph-container" style="width: {{ $treeWidth }}px;">
                    {{ range $j, $graph := $slot.ForkGraph }}
                      <div class="graph-fork" data-index="{{ $graph.Index }}" style="left: {{ $graph.Left }}px;">
                        {{- range $tile, $val := $graph.Tiles -}}
                          <div class="graph-layer graph-layer-{{ $tile }}"></div>
                        {{- end -}}
                        {{- if $graph.Block }}
                          <div class="graph-layer graph-layer-block">
                            <i class="fas fa-circle"></i>
                          </div>
                        {{ end -}}
                      </div>
                    {{ end }}
                  </td>
                  <td><a href="/epoch/{{ $slot.Epoch }}">{{ formatAddCommas $slot.Epoch }}</a></td>
                  {{ if eq .Status 2 }}
                  <td><a href="/slot/0x{{ printf "%x" $slot.BlockRoot }}">{{ formatAddCommas $slot.Slot }}</a></td>
                  {{ else }}
                    <td><a href="/slot/{{ $slot.Slot }}">{{ formatAddCommas $slot.Slot }}</a></td>
                  {{ end }}
                  <td>
                    {{ if eq $slot.Slot 0 }}
                      <span class="badge rounded-pill text-bg-info">Genesis</span>
                    {{ else if eq .Status 0 }}
                      <span class="badge rounded-pill text-bg-warning">Missed</span>
                    {{ else if eq .Status 1 }}
                      <span class="badge rounded-pill text-bg-success {{ if eq $slot.PayloadStatus 0 }}split-warning{{ else if eq $slot.PayloadStatus 2 }}split-info{{ end }}">Proposed</span>
                    {{ else if eq .Status 2 }}
                      <span class="badge rounded-pill text-bg-info {{ if eq $slot.PayloadStatus 0 }}split-warning{{ else if eq $slot.PayloadStatus 2 }}split-info{{ end }}">Missed (Orphaned)</span>
                    {{ else }}
                      <span class="badge rounded-pill text-bg-dark {{ if eq $slot.PayloadStatus 0 }}split-warning{{ else if eq $slot.PayloadStatus 2 }}split-info{{ end }}">Unknown</span>
                    {{ end }}
                  </td>
                  <td data-timer="{{ $slot.Ts.Unix }}"><span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ $slot.Ts }}">{{ formatRecentTimeShort $slot.Ts }}</span></td>
                  <td>{{ if gt $slot.Slot 0 }}{{ formatValidator $slot.Proposer $slot.ProposerName }}{{ end }}</td>
                </tr>
              {{ end }}
            {{ else }}
              <tr style="height: 430px;">
                <td></td>
                <td style="vertical-align: middle;" colspan="4">
                  <div class="img-fluid mx-auto p-3 d-flex align-items-center" style="max-height: 400px; width: auto; overflow: hidden;">
                    {{ template "timeline_svg" }}
                  </div>
                </td>
                <td></td>
              </tr>
            {{ end }}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{{ end }}
