{{ define "page" }}
<div class="container mt-2">
  <div class="d-md-flex py-2 justify-content-md-between">
    <h1 class="h4 mb-1 mb-md-0">
      <i class="fas fa-file-import mx-2"></i> Submit Deposit
    </h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb font-size-1 mb-0" style="padding:0; background-color:transparent;">
        <li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
        <li class="breadcrumb-item"><a href="/validators" title="Validators">Validators</a></li>
        <li class="breadcrumb-item active" aria-current="page">Submit Deposit</li>
      </ol>
    </nav>
  </div>

  <div id="header-placeholder" style="height:35px;"></div>

  <div class="card mt-2">
    <div class="card-body">
      <noscript>
        <div class="alert alert-warning">
          <i class="fa fa-exclamation-triangle"></i>
          This page requires JavaScript to be enabled.
        </div>
      </noscript>
      <div id="submit-deposit-container"></div>
    </div>
  </div>
</div>

{{ end }}
{{ define "js" }}
<script src="/ui-package/react-ui.js"></script>
<script type="text/javascript">
  $(function() {
    window.doraUiComponents.SubmitDepositsForm(
      document.getElementById("submit-deposit-container"),
      {
        wagmiConfig: {
          projectId: "{{ .RainbowkitProjectId }}",
          chains: [
            {
              chainId: {{ .ChainId }},
              name: "{{ .NetworkName }}",
              rpcUrl: "{{ .PublicRPCUrl }}",
              tokenName: "Ethereum",
              tokenSymbol: "{{ tokenSymbol }}",
            }
          ]
        },
        submitDepositConfig: {
          genesisForkVersion: "0x{{ printf "%x" .GenesisForkVersion }}",
          depositContract: "0x{{ printf "%x" .DepositContract }}",
          explorerLink: "{{ .ExplorerUrl }}",
          maxEffectiveBalance: "{{ .MaxEffectiveBalance }}",
          maxEffectiveBalanceElectra: "{{ .MaxEffectiveBalanceElectra }}",
          loadDepositTxs: function(pubkeys) {
            return fetch("?ajax=load_deposits", {
              method: "POST",
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify(pubkeys)
            }).then(function(response) {
              if (!response.ok) {
                throw new Error("Failed to load deposits: " + response.statusText);
              }
              return response;
            }).then(function(response) {
              return response.json();
            });
          },
          loadValidators: function(address) {
            return fetch(`?ajax=load_validators&address=${address}`)
              .then(response => response.json())
              .then(data => {
                return data;
              });
          },
          searchValidators: function(searchTerm) {
            return fetch(`?ajax=search_validators&search=${searchTerm}`)
              .then(response => response.json())
              .then(data => {
                return data;
              });
          }
        }
      }
    );
  });
</script>
{{ end }}
{{ define "css" }}
{{ end }}