{{ define "page" }}
  <div class="container mt-2">
    <div class="d-md-flex py-2 justify-content-md-between">
      <h1 class="h4 mb-1 mb-md-0"><i class="fas fa-cube mx-2"></i>Filtered Slots</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb font-size-1 mb-0" style="padding:0; background-color:transparent;">
          <li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
          <li class="breadcrumb-item"><a href="/slots" title="Slots">Slots</a></li>
          <li class="breadcrumb-item active" aria-current="page">Filtered</li>
        </ol>
      </nav>
    </div>

    <div id="header-placeholder" style="height:35px;"></div>
    <form action="/slots/filtered" method="get" id="slotsFilterForm">
      <input type="hidden" name="f">
      <div class="card mt-2">
        <div class="card-header">
          Slot Filters
        </div>
        <div class="card-body p-2">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="container">
                <div class="row mt-1">
                  <div class="col-sm-12 col-md-6 col-lg-4">
                    Graffiti
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-8">
                    <input name="f.graffiti" type="text" class="form-control" placeholder="Graffiti" aria-label="Graffiti" aria-describedby="basic-addon1" value="{{ .FilterGraffiti }}">
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-sm-12 col-md-6 col-lg-4">
                    EL Extra Data
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-8">
                    <input name="f.extra" type="text" class="form-control" placeholder="EL Extra Data" aria-label="EL Extra Data" aria-describedby="basic-addon1" value="{{ .FilterExtraData }}">
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-sm-12 col-md-6 col-lg-4">
                    Proposer Index
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-8">
                    <input name="f.proposer" type="number" class="form-control" placeholder="Proposer Index" aria-label="Proposer Index" aria-describedby="basic-addon1" value="{{ .FilterProposer }}">
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-sm-12 col-md-6 col-lg-4">
                    Proposer Name
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-8">
                    <input name="f.pname" type="text" class="form-control" placeholder="Proposer Name" aria-label="Proposer Name" aria-describedby="basic-addon1" value="{{ .FilterProposerName }}">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="container">
                <div class="row mt-1">
                  <div class="col-sm-12 col-md-6 col-lg-4">
                    <nobr>Missing Blocks</nobr>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-4">
                    <select name="f.missing" aria-controls="missing" class="form-control">
                      <option value="0" {{ if eq .FilterWithMissing 0 }}selected{{ end }}>Hide missing</option>
                      <option value="1" {{ if eq .FilterWithMissing 1 }}selected{{ end }}>Show all</option>
                      <option value="2" {{ if eq .FilterWithMissing 2 }}selected{{ end }}>Missing only</option>
                    </select>
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col-sm-12 col-md-6 col-lg-4">
                    <nobr>Orphaned Blocks</nobr>
                  </div>
                  <div class="col-sm-12 col-md-6 col-lg-4">
                    <select name="f.orphaned" aria-controls="orphaned" class="form-control">
                      <option value="0" {{ if eq .FilterWithOrphaned 0 }}selected{{ end }}>Hide orphaned</option>
                      <option value="1" {{ if eq .FilterWithOrphaned 1 }}selected{{ end }}>Show all</option>
                      <option value="2" {{ if eq .FilterWithOrphaned 2 }}selected{{ end }}>Orphaned only</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="row mt-3">
            <div class="col-6 col-md-6 table-pagesize">
              <label class="px-2">
                <span>Show </span>
                <select name="c" aria-controls="slots" class="custom-select custom-select-sm form-control form-control-sm">
                  <option value="{{ .PageSize }}" selected>{{ .PageSize }}</option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                <span> entries per page</span>
              </label>
            </div>
            <div class="col-4 col-md-4">
              <input type="hidden" id="displayColumnsField" />
              <select name="d" multiple="multiple" class="filter-multiselect">
                <option value="1" {{ if .DisplayEpoch }}selected{{ end }}>Epoch</option>
                <option value="2" {{ if .DisplaySlot }}selected{{ end }}>Slot</option>
                <option value="3" {{ if .DisplayStatus }}selected{{ end }}>Status</option>
                <option value="4" {{ if .DisplayTime }}selected{{ end }}>Time</option>
                <option value="5" {{ if .DisplayProposer }}selected{{ end }}>Proposer</option>
                <option value="6" {{ if .DisplayAttestations }}selected{{ end }}>Attestations</option>
                <option value="7" {{ if .DisplayDeposits }}selected{{ end }}>Deposits/Exits</option>
                <option value="8" {{ if .DisplaySlashings }}selected{{ end }}>Slashings</option>
                <option value="9" {{ if .DisplayTxCount }}selected{{ end }}>Tx Count</option>
                <option value="10" {{ if .DisplaySyncAgg }}selected{{ end }}>Sync Agg</option>
                <option value="11" {{ if .DisplayGraffiti }}selected{{ end }}>Graffiti</option>
                <option value="12" {{ if .DisplayElExtraData }}selected{{ end }}>Extra Data</option>
              </select>
            </div>
            <div class="col-2 col-md-2">
              <div class="container text-end">
                <button type="submit" class="btn btn-primary">Apply Filter</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <script type="text/javascript">
      $('#slotsFilterForm').submit(function () {
        $(this).find('input[type="text"],input[type="number"]').filter(function () { return !this.value; }).prop('name', '');
      });
    </script>

    <div class="card mt-2">
      <div class="card-body px-0 py-3">
            
        <div class="table-responsive px-0 py-1">
          <table class="table table-nobr" id="slots">
            <thead>
              <tr>
                {{ if .DisplayEpoch }}<th>Epoch</th>{{ end }}
                {{ if .DisplaySlot }}<th>Slot</th>{{ end }}
                {{ if .DisplayStatus }}<th>Status</th>{{ end }}
                {{ if .DisplayTime }}<th style="min-width: 125px">Time</th>{{ end }}
                {{ if .DisplayProposer }}<th>Prop<span class="d-none d-lg-inline">oser</span></th>{{ end }}
                {{ if .DisplayAttestations }}<th class="d-none d-md-table-cell">Att<span class="d-none d-lg-inline">estations</span></th>{{ end }}
                {{ if .DisplayDeposits }}
                <th>
                  <nobr><span data-toggle="tooltip" data-placement="top" title="Deposits">D<span class="d-none d-lg-inline">eposits</span> </span> / 
                  <span data-toggle="tooltip" data-placement="top" title="Exits">E<span class="d-none d-lg-inline">xits</span> </span></nobr>
                </th>
                {{ end }}
                {{ if .DisplaySlashings }}
                <th><span class="d-none d-lg-inline">Slashings</span>
                  <nobr><span data-toggle="tooltip" data-placement="top" title="Proposer Slashings">P</span> / 
                  <span data-toggle="tooltip" data-placement="top" title="Attester Slashings">A</span></nobr>
                </th>
                {{ end }}
                {{ if .DisplayTxCount }}<th>Tx<span class="d-none d-lg-inline"> Count</span></th>{{ end }}
                {{ if .DisplaySyncAgg }}<th>Sync<span class="d-none d-lg-inline"> Agg</span> %</th>{{ end }}
                {{ if .DisplayGraffiti }}<th>Graffiti</th>{{ end }}
                {{ if .DisplayElExtraData }}<th>Extra Data</th>{{ end }}
              </tr>
            </thead>
            {{- if gt .SlotCount 0 }}
              <tbody>
                {{ $g := . }}
                {{- range $i, $slot := .Slots }}
                  <tr>
                    {{- if $g.DisplayEpoch }}
                    <td><a href="/epoch/{{ $slot.Epoch }}">{{ formatAddCommas $slot.Epoch }}</a></td>
                    {{- end }}
                    {{- if $g.DisplaySlot }}
                      {{- if eq $slot.Status 2 }}
                        <td><a href="/slot/0x{{ printf "%x" $slot.BlockRoot }}">{{ formatAddCommas $slot.Slot }}</a></td>
                      {{- else }}
                        <td><a href="/slot/{{ $slot.Slot }}">{{ formatAddCommas $slot.Slot }}</a></td>
                      {{- end }}
                    {{- end }}
                    {{- if $g.DisplayStatus }}
                    <td>
                      {{- if eq $slot.Slot 0 }}
                        <span class="badge rounded-pill text-bg-info">Genesis</span>
                      {{- else if eq $slot.Status 1 }}
                        <span class="badge rounded-pill text-bg-success {{ if eq $slot.PayloadStatus 0 }}split-warning{{ else if eq $slot.PayloadStatus 2 }}split-info{{ end }}">Proposed</span>
                      {{- else if eq $slot.Status 2 }}
                        <span class="badge rounded-pill text-bg-info {{ if eq $slot.PayloadStatus 0 }}split-warning{{ else if eq $slot.PayloadStatus 2 }}split-info{{ end }}">Missed (Orphaned)</span>
                      {{- else if $slot.Scheduled }}
                        <span class="badge rounded-pill text-bg-secondary">Scheduled</span>
                      {{- else if not $slot.Synchronized }}
                        <span class="badge rounded-pill text-bg-secondary">?</span>
                      {{- else if eq $slot.Status 0 }}
                        <span class="badge rounded-pill text-bg-warning">Missed</span>
                      {{- else }}
                        <span class="badge rounded-pill text-bg-dark {{ if eq $slot.PayloadStatus 0 }}split-warning{{ else if eq $slot.PayloadStatus 2 }}split-info{{ end }}">Unknown</span>
                      {{- end }}
                    </td>
                    {{- end }}
                    {{- if $g.DisplayTime }}
                      <td data-timer="{{ $slot.Ts.Unix }}"><span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ $slot.Ts }}">{{ formatRecentTimeShort $slot.Ts }}</span></td>
                    {{- end }}
                    {{- if $g.DisplayProposer }}
                      <td>{{ formatValidator $slot.Proposer $slot.ProposerName }}</td>
                    {{- end }}
                    {{- if $g.DisplayAttestations }}
                      <td class="d-none d-md-table-cell">{{ if not (eq $slot.Status 0) }}{{ $slot.AttestationCount }}{{ end }}</td>
                    {{- end }}
                    {{- if $g.DisplayDeposits }}
                      <td>{{ if not (eq $slot.Status 0) }}{{ $slot.DepositCount }} / {{ $slot.ExitCount }}{{ end }}</td>
                    {{- end }}
                    {{- if $g.DisplaySlashings }}
                      <td>{{ if not (eq $slot.Status 0) }}{{ $slot.ProposerSlashingCount }} / {{ $slot.AttesterSlashingCount }}{{ end }}</td>
                    {{- end }}
                    {{- if $g.DisplayTxCount }}
                      <td>{{ if not (eq $slot.Status 0) }}{{ $slot.EthTransactionCount }}{{ end }}</td>
                    {{- end }}
                    {{- if $g.DisplaySyncAgg }}
                      <td>{{ if not (eq $slot.Status 0) }}{{ formatFloat $slot.SyncParticipation 2 }}%{{ end }}</td>
                    {{- end }}
                    {{- if $g.DisplayGraffiti }}
                      <td>{{ if not (eq $slot.Status 0) }}{{ formatGraffiti $slot.Graffiti }}{{ end }}</td>
                    {{- end }}
                    {{- if $g.DisplayElExtraData }}
                      <td>{{ if not (eq $slot.Status 0) }}{{ formatGraffiti $slot.ElExtraData }}{{ end }}</td>
                    {{- end }}
                  </tr>
                {{ end }}
              </tbody>
            {{ else }}
              <tbody>
                <tr style="height: 430px;">
                  <td class="d-none d-md-table-cell"></td>
                  <td style="vertical-align: middle;" colspan="{{ .DisplayColCount }}">
                    <div class="img-fluid mx-auto p-3 d-flex align-items-center" style="max-height: 400px; max-width: 400px; overflow: hidden;">
                      {{ template "professor_svg" }}
                    </div>
                  </td>
                  <td class="d-none d-md-table-cell"></td>
                </tr>
              </tbody>
            {{ end }}
          </table>
        </div>
        {{ if gt .TotalPages 1 }}
          <div class="row">
            <div class="col-sm-12 col-md-5 table-metainfo">
              <div class="px-2">
                <div class="table-meta" role="status" aria-live="polite">Showing slot {{ .FirstSlot }} to {{ .LastSlot }}</div>
              </div>
            </div>
            <div class="col-sm-12 col-md-7 table-paging">
              <div class="d-inline-block px-2">
                <ul class="pagination">
                  <li class="first paginate_button page-item {{ if le .PrevPageIndex 1 }}disabled{{ end }}" id="tpg_first">
                    <a tab-index="1" aria-controls="tpg_first" class="page-link" href="{{ .FirstPageLink }}">First</a>
                  </li>
                  <li class="previous paginate_button page-item {{ if eq .PrevPageIndex 0 }}disabled{{ end }}" id="tpg_previous">
                    <a tab-index="1" aria-controls="tpg_previous" class="page-link" href="{{ .PrevPageLink }}"><i class="fas fa-chevron-left"></i></a>
                  </li>
                  <li class="page-item disabled">
                    <a class="page-link" style="background-color: transparent;">{{ .CurrentPageIndex }} of {{ .TotalPages }}</a>
                  </li>
                  <li class="next paginate_button page-item {{ if eq .NextPageIndex 0 }}disabled{{ end }}" id="tpg_next">
                    <a tab-index="1" aria-controls="tpg_next" class="page-link" href="{{ .NextPageLink }}"><i class="fas fa-chevron-right"></i></a>
                  </li>
                  <li class="last paginate_button page-item {{ if or (eq .LastPageSlot 0) (le .NextPageSlot .LastPageSlot) }}disabled{{ end }}" id="tpg_last">
                    <a tab-index="1" aria-controls="tpg_last" class="page-link" href="{{ .LastPageLink }}">Last</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
      <div id="footer-placeholder" style="height:71px;"></div>
    </div>
  </div>
{{ end }}
{{ define "js" }}
<script src="/js/bootstrap-multiselect.js"></script>
<script type="text/javascript">
$('#slotsFilterForm').submit(function () { 
  $(this).find('input[type="text"],input[type="number"]').filter(function () { return !this.value; }).prop('name', ''); 
  var displayColumns = Array.prototype.filter.call($(this).find('select[name="d"]').prop('name', '').find("option"), function(el) {
    return el.selected;
  }).map(function(el) {
    return el.value;
  }).join(" ");
  if(displayColumns.length > 0) {
    $(this).find("#displayColumnsField").prop('name', 'd').val(displayColumns);
  }
});
$(function() { 
  $('#slotsFilterForm .filter-multiselect').each(function() { 
    $(this).multiselect({
      onInitialized: function() {
        this.$button.attr("data-bs-toggle", "dropdown");
        this.$container.addClass("filter-multiselect-container");
      }
    });
  });
});
</script>
{{ end }}
{{ define "css" }}
<link rel="stylesheet" href="/css/bootstrap-multiselect.css">
<style>
  .filter-multiselect-container {
    width: 100%;
  }
  .filter-multiselect-container.btn-group>.btn {
    text-align: left;
  }
  .filter-multiselect-container .multiselect-container {
    width: 100%;
  }
  .filter-multiselect-container .multiselect-container>li>a>label {
    padding: 4px 8px;
    width: 100%;
    white-space: nowrap;
  }
  .filter-multiselect-container .multiselect-container>li>a>label>input {
    margin: 0 4px;
  }
  
</style>
{{ end }}