{{ define "page" }}
  <div class="container mt-2">
    <div class="d-md-flex py-2 justify-content-md-between">
      <h1 class="h4 mb-1 mb-md-0"><i class="fas fa-server mx-2"></i>Execution clients</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb font-size-1 mb-0" style="padding:0; background-color:transparent;">
          <li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Execution clients</li>
        </ol>
      </nav>
    </div>
    <div class="card mt-2">
      <div class="accordion" id="network-accordion">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button id="peerGraphToggler" class="accordion-button btn-secondary collapsed" style="box-shadow: none;" type="button" data-bs-toggle="collapse" data-bs-target="#peerGraph" aria-expanded="true" aria-controls="peerGraph">
              <i class="fa-solid fa-circle-nodes" style="margin-right:5px"></i> Client graph
            </button>
          </h2>
          <div id="peerGraph" class="accordion-collapse collapse" data-bs-parent="#network-accordion">
            <div class="accordion-body peer-nodemap-wrapper">
              <div class="card-body px-0 peer-nodemap" id="nodemap">
                <div id="nodemap-loading" class="spinner-border" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
              <div class="card-body px-0 peer-nodemap-menu">
                <div class="btn-group btn-group-sm" role="group" aria-label="Network layouts" style="position: absolute; bottom: 5px; right: 10px;">
                  <button type="button" class="btn btn-secondary" disabled>Layouts</button>
                  <button type="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="CoSE" class="btn btn-secondary" onclick='$_network.fitAnimated(peerGraph,$_network.layouts.fcose(peerGraphData.nodes.length))'><i class="fa-solid fa-share-alt"></i></button>
                  <button type="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Circle" class="btn btn-secondary" onclick='$_network.fitAnimated(peerGraph,$_network.layouts.circle())'><i class="fa-solid fa-circle"></i></button>
                  <button type="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Grid" class="btn btn-secondary" onclick='$_network.fitAnimated(peerGraph,$_network.layouts.grid())'><i class="fa-solid fa-th"></i></button>
                  <button type="button" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Concentric" class="btn btn-secondary" onclick='$_network.fitAnimated(peerGraph,$_network.layouts.concentric(peerGraphData.nodes.length))'><i class="fa-solid fa-sun"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mt-2">
      <div class="card-body px-0 py-3">
        <div class="table-responsive px-0 py-1">
          <div style="text-align: right; margin-right: 15px;">
            Peer infos:
            <div class="btn-group btn-group-sm" role="group" aria-label="Peer info controls">
              <button type="button" class="btn btn-outline-secondary" onclick='$(".collapse.peerInfo").collapse("hide");'>Hide all</button>
              <button type="button" class="btn btn-outline-secondary" onclick='$(".collapse.peerInfo").collapse("show");'>Show all</button>
            </div>
          </div>
          <table class="table table-nobr" id="clients">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Peers</th>
                <th>Block</th>
                <th>Block hash</th>
                <th>Status</th>
                <th>Version</th>
              </tr>
            </thead>
              <tbody>
                {{ $root := . }}
                {{ range $i, $client := .Clients }}
                  <tr>
                    <td>{{ $client.Index }}</td>
                    <td>
                      <svg class="client-node-icon" data-jdenticon-value="{{ $client.PeerID }}"></svg>
                      <span id="clientRow-{{ $client.Name }}" style="cursor:pointer;" class="client-row" data-peerid="{{ $client.PeerID}}">
                        <a href="#name={{ $client.Name }}">{{ $client.Name }}</a>
                      </span>
                    </td>
                    <td style="font-size: 0.8rem; vertical-align: middle;">
                      <span style="width:30px;display: inline-block;" class="text-success" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Inbound Peers">
                        {{ if and ($client.DidFetchPeers) (not (contains $client.Version "Nethermind")) }}
                          {{ $client.PeersInboundCounter }}
                        {{ else }}
                          ?
                        {{ end }}
                        <i class="fa-solid fa-arrow-down"></i>
                      </span>
                      <span style="width:30px;display: inline-block;" class="text-danger" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Outbound Peers">
                        {{ if and ($client.DidFetchPeers) (not (contains $client.Version "Nethermind")) }}
                          {{ $client.PeersOutboundCounter }}
                        {{ else }}
                          ?
                        {{ end }}
                        <i class="fa-solid fa-arrow-up"></i>
                      </span>
                      <span style="width:30px;display: inline-block;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Total Peers">
                        {{ if $client.DidFetchPeers }}
                          ({{ $client.PeerCount }})
                        {{ else }}
                          (?)
                        {{ end }}
                      </span>
                    </td>
                    <td>{{ formatAddCommas $client.HeadSlot }}</td>
                    <td class="text-monospace">
                      <span class="text-truncate d-inline-block" style="max-width: 200px">0x{{ printf "%x" $client.HeadRoot }}</span>
                      <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="0x{{ printf "%x" $client.HeadRoot }}"></i>
                    </td>
                    <td>
                      {{ if eq $client.Status "online" }}
                        <span class="badge rounded-pill text-bg-success">Ready</span>
                      {{ else if eq $client.Status "synchronizing" }}
                        <span class="badge rounded-pill text-bg-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="Updated: {{ formatRecentTimeShort $client.LastRefresh }}">Synchronizing</span>
                      {{ else if eq $client.Status "offline" }}
                        <span class="badge rounded-pill text-bg-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Updated: {{ formatRecentTimeShort $client.LastRefresh }}, Error: {{ $client.LastError }}">Disconnected</span>
                      {{ else }}
                        <span class="badge rounded-pill text-bg-dark">{{ $client.Status }}</span>
                      {{ end }}
                    </td>
                    <td>
                      <span class="text-truncate d-inline-block" style="max-width: 400px">{{ $client.Version }}</span>
                      <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-clipboard-text="{{ $client.Version }}"></i>
                    </td>
                  </tr>
                  <tr class="collapse peerInfo" style="transition:0s" id="peerInfo-{{ $client.PeerID }}">
                    <td colspan="7" style="padding: 10px 0;" class="peer-details-container" data-peerid="{{ $client.PeerID }}">

                    </td>
                  </tr>
                {{ end }}
              </tbody>
          </table>
        </div>

        <!-- Peer details template -->
        <div class="peer-details-content d-none">
          <div class="client-row-divider">Node identity</div>
          <div class="client-node-peerinfo">
            <table class="table table-borderless table-sm client-table-info ">
              <tbody>
                <tr>
                  <td>Name</td>
                  <td>
                    <code data-bind="text: name"></code>
                    <i class="fa fa-copy text-muted p-1" role="button" data-bs-placement="right" data-bs-toggle="tooltip" title="Copy to clipboard" data-bind="attr: {'data-clipboard-text': name}"></i>
                  </td>
                </tr>
                <tr>
                  <td>Peer ID</td>
                  <td>
                    <code data-bind="text: peer_id"></code>
                    <i class="fa fa-copy text-muted p-1" role="button" data-bs-placement="right" data-bs-toggle="tooltip" title="Copy to clipboard" data-bind="attr: {'data-clipboard-text': peer_id}"></i>
                  </td>
                </tr>
                {{ html "<!-- ko if: showSensitivePeerInfos -->" }}
                <tr style="vertical-align: top;">
                  <td>Enode</td>
                  <td>
                    <div style="word-break: break-all; text-wrap: pretty;">
                      <code data-bind="text: enode"></code>
                      <i class="fa fa-copy text-muted p-1" role="button" data-bs-placement="right" data-bs-toggle="tooltip" title="Copy to clipboard" data-bind="attr: {'data-clipboard-text': enode}"></i>
                    </div>
                  </td>
                </tr>
                <tr style="vertical-align: top;">
                  <td>IP Address</td>
                  <td>
                    <div style="word-break: break-all; text-wrap: pretty;">
                      <code data-bind="text: ip_addr"></code>
                      <i class="fa fa-copy text-muted p-1" role="button" data-bs-placement="right" data-bs-toggle="tooltip" title="Copy to clipboard" data-bind="attr: {'data-clipboard-text': ip_addr}"></i>
                    </div>
                  </td>
                </tr>
                <tr style="vertical-align: top;">
                  <td>Listen Address</td>
                  <td>
                    <div style="word-break: break-all; text-wrap: pretty;">
                      <code data-bind="text: listen_addr"></code>
                      <i class="fa fa-copy text-muted p-1" role="button" data-bs-placement="right" data-bs-toggle="tooltip" title="Copy to clipboard" data-bind="attr: {'data-clipboard-text': listen_addr}"></i>
                    </div>
                  </td>
                </tr>
                {{ html "<!-- /ko -->" }}
              </tbody>
            </table>
          </div>
          <div class="client-row-divider">Peers</div>
          <div>
            <div class="peer-table-column">
              {{ html "<!-- ko foreach: peers -->" }}
                <div style="padding-left: 20px; padding-top:3px">
                  {{ html "<!-- ko if: $parent.version().includes('Nethermind') -->" }}
                    <i class="fa-solid fa-question text-warning" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Unknown peer direction"></i>
                  {{ html "<!-- /ko -->" }}
                  {{ html "<!-- ko if: direction == 'inbound' -->" }}
                    <i class="fa-solid fa-down-long text-success" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Inbound"></i>
                  {{ html "<!-- /ko -->" }}
                  {{ html "<!-- ko if: direction == 'outbound' -->" }}
                    <i class="fa-solid fa-up-long text-danger" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Outbound"></i>
                  {{ html "<!-- /ko -->" }}
                  <svg data-bind="attr: {'data-jdenticon-value': id}, class: 'peer-table-icon '+status"></svg>
                  <code data-bind="text: id"></code>
                  <i class="fa fa-copy text-muted p-1" role="button" data-bs-toggle="tooltip" title="Copy to clipboard" data-bind="attr: {'data-clipboard-text': id}"></i>
                  {{ html "<!-- ko if: type == 'internal' -->" }}
                    <span class="badge text-bg-secondary" data-bind="text: alias"></span>
                  {{ html "<!-- /ko -->" }}
                </div>
                {{ html "<!-- ko if: $root.showSensitivePeerInfos -->" }}
                  <div class="client-node-peer-details">
                    <table class="table table-borderless table-sm client-table-info" style="padding-left:0; margin-top:10px;margin-bottom: 10px; margin-left: 10px;">
                      <tbody>
                        <tr>
                          <td>Enode</td>
                          <td>
                            <div style="word-break: break-all; text-wrap: pretty;">
                              <code data-bind="text: enode"></code>
                              <i class="fa fa-copy text-muted p-1" role="button" data-bs-placement="right" data-bs-toggle="tooltip" title="Copy to clipboard" data-bind="attr: {'data-clipboard-text': enode}"></i>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Name</td>
                          <td>
                            <div style="word-break: break-all; text-wrap: pretty;">
                              <code data-bind="text: name"></code>
                              <i class="fa fa-copy text-muted p-1" role="button" data-bs-placement="right" data-bs-toggle="tooltip" title="Copy to clipboard" data-bind="attr: {'data-clipboard-text': name}"></i>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Capabilities</td>
                          <td>
                            <div style="word-break: break-all; text-wrap: pretty;">
                              <code data-bind="text: JSON.stringify(caps)"></code>
                              <i class="fa fa-copy text-muted p-1" role="button" data-bs-placement="right" data-bs-toggle="tooltip" title="Copy to clipboard" data-bind="attr: {'data-clipboard-text': JSON.stringify(caps)}"></i>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td>Protocols</td>
                          <td>
                            <div style="word-break: break-all; text-wrap: pretty;">
                              <code style="white-space: pre;" data-bind="text: JSON.stringify(protocols, null, 2)"></code>
                              <i class="fa fa-copy text-muted p-1" role="button" data-bs-placement="right" data-bs-toggle="tooltip" title="Copy to clipboard" data-bind="attr: {'data-clipboard-text': JSON.stringify(protocols, null, 2)}"></i>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                {{ html "<!-- /ko -->" }}
              {{ html "<!-- /ko -->" }}
            </div>
          </div>
        </div>

      </div>
      <div id="footer-placeholder" style="height:30px;"></div>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      hashParams = new URLSearchParams(window.location.hash.substring(1))
      if (hashParams.has("name")) {
        name = hashParams.get("name")
        clientRow = $("#clientRow-" + name)
        if (clientRow) {
          clientRow.click()
        }
      }
    });
  </script>

{{ end }}

{{ define "js" }}
<script src="/js/vendor/jdenticon-3.3.0.min.js"></script>
<script src="/js/knockout.min.js"></script>
<script src="/js/vendor/cytoscape.min.js"></script>
<script src="/js/vendor/cytoscape-layout-base.js"></script>
<script src="/js/vendor/cytoscape-cose-base.js"></script>
<script src="/js/vendor/cytoscape-fcose.js"></script>
<script src="/js/cytoscape-network-aux.js"></script>
<script type="text/javascript">
  var peerGraphData = {{ .PeerMap }};
  var peerGraph, peerGraphRendered = false;

  var nodes = {{ .Nodes }};

  function renderPeerGraph() {
    var container = document.getElementById("nodemap");
    peerGraph = $_network.create(container, peerGraphData);
  }

  $('#peerGraph').on('shown.bs.collapse', function () {
    if(peerGraphRendered) return;
    renderPeerGraph();
    peerGraphRendered = true;
  });

  $('.client-row').on('click', function() {
    var peerId = $(this).data('peerid');
    if(peerGraph) {
      $_network.isolateNode(peerGraph, peerId);
    }
    $('.collapse.peerInfo').collapse('hide');
    $('#peerInfo-' + peerId).collapse('show');
  });

  (function() {
    // shared base model for knockout bindings
    var baseModel = {
      showSensitivePeerInfos: {{ .ShowSensitivePeerInfos }},
      getNode: function(peerId) { return nodes[peerId] },
      getNodeName: function(peerId) { return nodes[peerId] ? nodes[peerId].alias : "" },
      getEnrValue: function(enr_kv, key) {
        for(var i = 0; i < enr_kv.length; i++) {
          if(enr_kv[i].key == key)
            return enr_kv[i].value;
        }
        return "";
      },
    };

    // Peer details view model
    (function() {
      function createModel(data) {
        var viewModel = Object.create(baseModel);
        var val;
        for(var prop in data) {
          val = data[prop];
          if(Array.isArray(val))
            viewModel[prop] = ko.observableArray(val);
          else
            viewModel[prop] = ko.observable(val);
        }
        return viewModel;
      }

      $('.peerInfo').on('shown.bs.collapse', function () {
        var detailsContainer = $(this).find('.peer-details-container');
        if(detailsContainer.data('loaded')) return;

        var peerId = detailsContainer.data('peerid');
        detailsContainer.data('loaded', true);
        var template = $(".peer-details-content").html();
        detailsContainer.html(template);

        var viewModel = createModel(nodes[peerId]);
        ko.applyBindings(viewModel, detailsContainer.get(0));
        window.explorer.initControls();
        jdenticon.update(".peer-table-icon",null)
      });

    })();
  })();

</script>
{{ end }}
{{ define "css" }}
<link rel="stylesheet" href="/css/clients.css" />
{{ end }}
