{{ define "page" }}
  <div class="container mt-2">
    <div class="d-md-flex py-2 justify-content-md-between">
      <h1 class="h4 mb-1 mb-md-0">
        <i class="fas fa-history mx-2"></i>Epochs
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb font-size-1 mb-0" style="padding:0; background-color:transparent;">
          <li class="breadcrumb-item"><a href="/" title="Home">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Epochs</li>
        </ol>
      </nav>
    </div>

    <div class="card mt-2">
      <div id="header-placeholder" style="height:45px;"></div>
      <div class="card-body px-0 py-3">
        <div class="row">
          <div class="col-sm-12 col-md-6 table-pagesize">
            <form action="/epochs" method="get">
              <label class="px-2">
                <span>Show </span>
                <select name="count" aria-controls="epochs" class="custom-select custom-select-sm form-control form-control-sm" onchange="this.form.submit()">
                  <option value="{{ .PageSize }}" selected>{{ .PageSize }}</option>
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                {{ if not .IsDefaultPage }}
                  <input name="epoch" type="hidden" value="{{ .CurrentPageEpoch }}">
                {{ end }}
                <span> entries</span>
              </label>
            </form>
          </div>
          <div class="col-sm-12 col-md-6 table-search">
            <div class="px-2" style="text-align: right;">
              <form action="/epochs" method="get">
                <label>
                  <input name="epoch" type="search" class="form-control form-control-sm" placeholder="Search by Epoch Number" aria-controls="epochs">
                  <input name="count" type="hidden" value="1">
                </label>
              </form>
            </div>
          </div>
        </div>
        <div class="table-responsive px-0 py-1">
          <table class="table table-nobr" id="epochs">
            <thead>
              <tr>
                <th>Epoch</th>
                <th style="min-width: 125px">Time</th>
                <th class="d-none d-md-table-cell">Att<span class="d-none d-lg-inline">estations</span></th>
                <th>
                  <nobr><span data-toggle="tooltip" data-placement="top" title="Deposits">D<span class="d-none d-lg-inline">eposits</span> </span> / 
                  <span data-toggle="tooltip" data-placement="top" title="Exits">E<span class="d-none d-lg-inline">xits</span> </span></nobr>
                </th>
                <th><span class="d-none d-lg-inline">Slashings</span>
                  <nobr><span data-toggle="tooltip" data-placement="top" title="Proposer Slashings">P</span> / 
                  <span data-toggle="tooltip" data-placement="top" title="Attester Slashings">A</span></nobr>
                </th>
                <th>Tx<span class="d-none d-lg-inline"> Count</span></th>
                <th>Finalized</th>
                <th class="d-none d-md-table-cell">Eligible</th>
                <th>Target Vote</th>
                <th class="d-none d-lg-table-cell">Head Vote</th>
                <th class="d-none d-lg-table-cell">Total Vote</th>
              </tr>
            </thead>
            {{ if gt .EpochCount 0 }}
              <tbody>
                {{ range $i, $epoch := .Epochs }}
                  <tr>
                    <td><a href="/epoch/{{ $epoch.Epoch }}">{{ formatAddCommas $epoch.Epoch }}</a></td>
                    <td data-timer="{{ $epoch.Ts.Unix }}"><span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ $epoch.Ts }}">{{ formatRecentTimeShort $epoch.Ts }}</span></td>
                    {{ if $epoch.Synchronized }}
                      <td class="d-none d-md-table-cell">{{ $epoch.AttestationCount }}</td>
                      <td>{{ $epoch.DepositCount }} / {{ $epoch.ExitCount }}</td>
                      <td>{{ $epoch.ProposerSlashingCount }} / {{ $epoch.AttesterSlashingCount }}</td>
                      <td>{{ $epoch.EthTransactionCount }}</td>
                    {{ else }}
                      <td class="d-md-none" colspan="3">Not indexed yet</td>
                      <td class="d-none d-md-table-cell" colspan="4">Not indexed yet</td>
                    {{ end }}

                    <td>
                      {{ if $epoch.Finalized }}
                        <span class="badge badge-pill bg-success text-white" style="font-size: 12px; font-weight: 500;">Yes</span>
                      {{ else }}
                        <span class="badge badge-pill bg-warning text-white" style="font-size: 12px; font-weight: 500;">No</span>
                      {{ end }}
                    </td>
                    <td class="d-none d-md-table-cell">{{ formatEthAddCommasFromGwei $epoch.EligibleEther }}</td>
                    <td>
                      <div style="position:relative;width:inherit;height:inherit;">
                        {{ formatEthAddCommasFromGwei $epoch.TargetVoted }} <small class="text-muted ml-3">({{ formatFloat $epoch.TargetVoteParticipation 2 }}%)</small>
                        <div class="progress" style="position:absolute;bottom:-6px;width:100%;height:4px;">
                        <div class="progress-bar" role="progressbar" style="width: {{ formatFloat $epoch.TargetVoteParticipation 2 }}%;" aria-valuenow="{{ formatFloat $epoch.TargetVoteParticipation 2 }}%" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </td>
                    <td class="d-none d-lg-table-cell">
                      <div style="position:relative;width:inherit;height:inherit;">
                        {{ formatEthAddCommasFromGwei $epoch.HeadVoted }} <small class="text-muted ml-3">({{ formatFloat $epoch.HeadVoteParticipation 2 }}%)</small>
                        <div class="progress" style="position:absolute;bottom:-6px;width:100%;height:4px;">
                        <div class="progress-bar" role="progressbar" style="width: {{ formatFloat $epoch.HeadVoteParticipation 2 }}%;" aria-valuenow="{{ formatFloat $epoch.HeadVoteParticipation 2 }}%" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </td>
                    <td class="d-none d-lg-table-cell">
                      <div style="position:relative;width:inherit;height:inherit;">
                        {{ formatEthAddCommasFromGwei $epoch.TotalVoted }} <small class="text-muted ml-3">({{ formatFloat $epoch.TotalVoteParticipation 2 }}%)</small>
                        <div class="progress" style="position:absolute;bottom:-6px;width:100%;height:4px;">
                        <div class="progress-bar" role="progressbar" style="width: {{ formatFloat $epoch.TotalVoteParticipation 2 }}%;" aria-valuenow="{{ formatFloat $epoch.TotalVoteParticipation 2 }}%" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                      </div>
                    </td>
                  </tr>
                {{ end }}
              </tbody>
            {{ else }}
              <tbody>
                <tr style="height: 430px;">
                  <td class="d-none d-md-table-cell"></td>
                  <td style="vertical-align: middle;" colspan="9">
                    <div class="img-fluid mx-auto p-3 d-flex align-items-center" style="max-height: 400px; max-width: 400px; overflow: hidden;">
                      {{ template "professor_svg" }}
                    </div>
                  </td>
                  <td class="d-none d-md-table-cell"></td>
                </tr>
              </tbody>
            {{ end }}
          </table>
        </div>
        {{ if gt .TotalPages 1 }}
          <div class="row">
            <div class="col-sm-12 col-md-5 table-metainfo">
              <div class="px-2">
                <div class="table-meta" role="status" aria-live="polite">Showing epoch {{ .FirstEpoch }} to {{ .LastEpoch }}</div>
              </div>
            </div>
            <div class="col-sm-12 col-md-7 table-paging">
              <div class="d-inline-block px-2">
                <ul class="pagination">
                  <li class="first paginate_button page-item {{ if le .PrevPageIndex 1 }}disabled{{ end }}" id="tpg_first">
                    <a tab-index="1" aria-controls="tpg_first" class="page-link" href="/epochs?count={{ .PageSize }}">First</a>
                  </li>
                  <li class="previous paginate_button page-item {{ if eq .PrevPageIndex 0 }}disabled{{ end }}" id="tpg_previous">
                    <a tab-index="1" aria-controls="tpg_previous" class="page-link" href="/epochs?epoch={{ .PrevPageEpoch }}&count={{ .PageSize }}"><i class="fas fa-chevron-left"></i></a>
                  </li>
                  <li class="page-item disabled">
                    <a class="page-link" style="background-color: transparent;">{{ .CurrentPageIndex }} of {{ .TotalPages }}</a>
                  </li>
                  <li class="next paginate_button page-item {{ if eq .NextPageIndex 0 }}disabled{{ end }}" id="tpg_next">
                    <a tab-index="1" aria-controls="tpg_next" class="page-link" href="/epochs?epoch={{ .NextPageEpoch }}&count={{ .PageSize }}"><i class="fas fa-chevron-right"></i></a>
                  </li>
                  <li class="last paginate_button page-item {{ if le .NextPageEpoch .LastPageEpoch }}disabled{{ end }}" id="tpg_last">
                    <a tab-index="1" aria-controls="tpg_last" class="page-link" href="/epochs?epoch={{ .LastPageEpoch }}&count={{ .PageSize }}">Last</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
      <div id="footer-placeholder" style="height:71px;"></div>
    </div>
  </div>
{{ end }}
{{ define "js" }}
{{ end }}
{{ define "css" }}
{{ end }}