
name: Reusable check workflow
on:
  workflow_call:

# shared check jobs
jobs:
  check_source:
    name: Run code checks
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    # setup global dependencies
    - name: Set up go
      uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5.4.0
      with:
        go-version: 1.24.x
    - name: Set up node
      uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
      with:
        node-version: 20.x
    - name: Cache node-modules for UI package
      id: cache-npm
      uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
      with:
        path: ./ui-package/node_modules
        key: uipackage-npm-${{ runner.os }}-${{ hashFiles('./ui-package/package-lock.json') }}
        restore-keys: |
          uipackage-npm-${{ runner.os }}-
          uipackage-npm-

    - name: Prepare test environment
      run: mkdir -p ui-package/dist && touch ui-package/dist/dummy

    - name: Verify dependencies
      run: go mod verify

    - name: Run go vet
      run: go vet ./...

    - name: Check go fmt
      run: if [ "$(gofmt -s -l . | wc -l)" -gt 0 ]; then exit 1; fi

    - name: Install staticcheck
      run: go install honnef.co/go/tools/cmd/staticcheck@latest
    - name: Run staticcheck
      run: staticcheck ./...

    #- name: Install golint
    #  run: go install golang.org/x/lint/golint@latest
    #- name: Run golint
    #  run: golint ./...

    - name: Run tests
      run: go test -race -vet=off ./...

    
    # build UI package
    - name: Build UI package
      run: |
        make build-ui
    