
name: Reusable build workflow
on:
  workflow_call:
    inputs:
      ref:
        description: 'The branch, tag or SHA to build'
        required: true
        type: string
      release:
        description: 'Release version tag for this build'
        default: ''
        required: false
        type: string
      docker:
        description: 'Build docker images'
        default: false
        required: true
        type: boolean
      docker_repository:
        description: 'Docker Hub Repository'
        default: ''
        required: false
        type: string
      docker_tag_prefix:
        description: 'Docker Image Tag Prefix'
        default: ''
        required: false
        type: string
      additional_tags:
        description: 'Additional Docker Image Tags (JSON)'
        default: ''
        required: false
        type: string
    secrets:
      DOCKERHUB_USERNAME:
        description: 'Docker Hub Username'
        required: false
      DOCKERHUB_TOKEN:
        description: 'Docker Hub Token'
        required: false

# shared build jobs
jobs:
  build_ui_package:
    name: Build UI package
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        ref: ${{ inputs.ref }}

    # setup node & npm
    - name: Set up node
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version: 20.x
    - name: Cache node-modules for UI package
      id: cache-npm
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        path: ./ui-package/node_modules
        key: uipackage-npm-${{ runner.os }}-${{ hashFiles('./ui-package/package-lock.json') }}
        restore-keys: |
          uipackage-npm-${{ runner.os }}-
          uipackage-npm-
    
    # build UI package
    - name: Build UI package
      run: |
        make build-ui

    # upload artifacts
    - name: "Upload artifact: ui-package"
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        path: ./ui-package/dist/*
        name: ui-package

  build_linux_amd64_binary:
    name: Build linux/amd64 binary
    needs: [build_ui_package]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        ref: ${{ inputs.ref }}

    # setup global dependencies
    - name: Set up go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version: 1.24.x
    
    # setup project dependencies
    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    # download UI build artifacts
    - name: Download UI build artifacts
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: ui-package
        path: ./ui-package/dist

    # build binaries
    - name: Build linux amd64 binary
      run: |
        make build
      env:
        RELEASE: ${{ inputs.release }}

    # upload artifacts
    - name: "Upload artifact: explorer_linux_amd64"
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        path: ./bin/*
        name: explorer_linux_amd64
  
  build_linux_arm64_binary:
    name: Build linux/arm64 binary
    needs: [build_ui_package]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        ref: ${{ inputs.ref }}

    # setup global dependencies
    - name: Set up go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version: 1.24.x

    # setup cross build libs
    - name: Get cross build dependencies
      run: |
        sudo apt-get update
        sudo apt-get -y install gcc-aarch64-linux-gnu
    
    # setup project dependencies
    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    # download UI build artifacts
    - name: Download UI build artifacts
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: ui-package
        path: ./ui-package/dist

    # build binaries
    - name: Build linux arm64 binary
      run: |
        make build GOARCH=arm64 CC=/usr/bin/aarch64-linux-gnu-gcc
      env:
        RELEASE: ${{ inputs.release }}

    # upload artifacts
    - name: "Upload artifact: explorer_linux_arm64"
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        path: ./bin/*
        name: explorer_linux_arm64

  build_windows_binary:
    name: Build windows/amd64 binary
    needs: [build_ui_package]
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        ref: ${{ inputs.ref }}

    # setup global dependencies
    - name: Set up go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version: 1.24.x

    # setup project dependencies
    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    # download UI build artifacts
    - name: Download UI build artifacts
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: ui-package
        path: ./ui-package/dist

    # build binaries
    - name: Build windows binary
      run: |
        make build
      env:
        RELEASE: ${{ inputs.release }}

    # upload artifacts
    - name: "Upload artifact: explorer_windows_amd64"
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        path: ./bin/*
        name: explorer_windows_amd64

  build_darwin_amd64_binary:
    name: Build macos/amd64 binary
    needs: [build_ui_package]
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        ref: ${{ inputs.ref }}

    # setup global dependencies
    - name: Set up go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version: 1.24.x

    # setup project dependencies
    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    # download UI build artifacts
    - name: Download UI build artifacts
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: ui-package
        path: ./ui-package/dist

    # build binaries
    - name: Build macos amd64 binary
      run: |
        make build
      env:
        RELEASE: ${{ inputs.release }}

    # upload artifacts
    - name: "Upload artifact: explorer_darwin_amd64"
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        path: ./bin/*
        name: explorer_darwin_amd64

  build_darwin_arm64_binary:
    name: Build macos/arm64 binary
    needs: [build_ui_package]
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        ref: ${{ inputs.ref }}

    # setup global dependencies
    - name: Set up go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version: 1.24.x

    # setup project dependencies
    - name: Get dependencies
      run: |
        go get -v -t -d ./...

    # download UI build artifacts
    - name: Download UI build artifacts
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: ui-package
        path: ./ui-package/dist

    # build binaries
    - name: Build macos arm64 binary
      run: |
        make build GOARCH=arm64
      env:
        RELEASE: ${{ inputs.release }}

    # upload artifacts
    - name: "Upload artifact: explorer_darwin_arm64"
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
        path: ./bin/*
        name: explorer_darwin_arm64

  build_amd64_docker_image:
    name: Build amd64 docker image
    needs: [build_linux_amd64_binary]
    if: ${{ inputs.docker }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        ref: ${{ inputs.ref }}

    - name: Get build version
      id: vars
      run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

    # prepare docker
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
    - name: Login to Docker Hub
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # download build artifacts
    - name: Download UI build artifacts
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: ui-package
        path: ./ui-package/dist
    - name: Download build artifacts
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: explorer_linux_amd64
        path: ./bin

    # prepare environment
    - name: Prepare build environment
      run: |
        chmod +x ./bin/*
        ls -lach ./bin
    
    # build amd64 image
    - name: Build amd64 docker image
      run: |
        docker build . --file Dockerfile-stub \
          --tag ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-amd64 \
          --tag ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-${{ steps.vars.outputs.sha_short }}-amd64 \
          --platform=linux/amd64
    - name: Push amd64 docker images
      run: |
        docker push ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-amd64
        docker push ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-${{ steps.vars.outputs.sha_short }}-amd64
  
  build_arm64_docker_image:
    name: Build arm64 docker image
    needs: [build_linux_arm64_binary]
    if: ${{ inputs.docker }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        ref: ${{ inputs.ref }}
    - name: Get build version
      id: vars
      run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

    # prepare docker
    - name: Set up Docker QEMU
      uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
    - name: Login to Docker Hub
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    # download build artifacts
    - name: Download UI build artifacts
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: ui-package
        path: ./ui-package/dist
    - name: Download build artifacts
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: explorer_linux_arm64
        path: ./bin

    # prepare environment
    - name: Prepare build environment
      run: |
        chmod +x ./bin/*
        ls -lach ./bin
    
    # build arm64 image
    - name: Build arm64 docker image
      run: |
        docker build . --file Dockerfile-stub \
          --tag ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-arm64 \
          --tag ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-${{ steps.vars.outputs.sha_short }}-arm64 \
          --platform=linux/arm64
    - name: Push arm64 docker image
      run: |
        docker push ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-arm64
        docker push ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-${{ steps.vars.outputs.sha_short }}-arm64

  build_multiarch_image:
    name: Build multiarch docker image
    needs: [build_amd64_docker_image, build_arm64_docker_image]
    if: ${{ inputs.docker }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        ref: ${{ inputs.ref }}
    - name: Get build version
      id: vars
      run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

    # prepare docker
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
    - name: Login to Docker Hub
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    # build multiarch image
    - name: Build multiarch docker manifest
      run: |
        docker manifest create ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-${{ steps.vars.outputs.sha_short }} \
        --amend ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-${{ steps.vars.outputs.sha_short }}-amd64 \
        --amend ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-${{ steps.vars.outputs.sha_short }}-arm64
    - name: Push multiarch docker manifest
      run: |
        docker manifest push ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-${{ steps.vars.outputs.sha_short }}

  build_extra_image:
    name: Build additional docker manifests
    needs: [build_multiarch_image]
    if: ${{ inputs.additional_tags }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        tag: ${{ fromJSON(inputs.additional_tags) }}
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        ref: ${{ inputs.ref }}
    - name: Get build version
      id: vars
      run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

    # prepare docker
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
    - name: Login to Docker Hub
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    # build multiarch image
    - name: "Build additional docker manifest: ${{ matrix.tag }}"
      run: |
        docker manifest create ${{ inputs.docker_repository }}:${{ matrix.tag }}-amd64 \
        --amend ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-${{ steps.vars.outputs.sha_short }}-amd64

        docker manifest create ${{ inputs.docker_repository }}:${{ matrix.tag }}-arm64 \
        --amend ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-${{ steps.vars.outputs.sha_short }}-arm64

        docker manifest create ${{ inputs.docker_repository }}:${{ matrix.tag }} \
        --amend ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-${{ steps.vars.outputs.sha_short }}-amd64 \
        --amend ${{ inputs.docker_repository }}:${{ inputs.docker_tag_prefix }}-${{ steps.vars.outputs.sha_short }}-arm64

    - name: "Push additional docker manifest: ${{ matrix.tag }}"
      run: |
        docker manifest push ${{ inputs.docker_repository }}:${{ matrix.tag }}-amd64
        docker manifest push ${{ inputs.docker_repository }}:${{ matrix.tag }}-arm64
        docker manifest push ${{ inputs.docker_repository }}:${{ matrix.tag }}