
name: Reusable check workflow
on:
  workflow_call:

# shared check jobs
jobs:
  check_source:
    name: Run code checks
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    # setup global dependencies
    - name: Set up go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: 1.25.x
    - name: Set up node
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: 20.x
    - name: Cache node-modules for UI package
      id: cache-npm
      uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
      with:
        path: ./ui-package/node_modules
        key: uipackage-npm-${{ runner.os }}-${{ hashFiles('./ui-package/package-lock.json') }}
        restore-keys: |
          uipackage-npm-${{ runner.os }}-
          uipackage-npm-

    - name: Prepare test environment
      run: mkdir -p ui-package/dist && touch ui-package/dist/dummy

    - name: Verify dependencies
      run: go mod verify

    - name: Run go vet
      run: go vet ./...

    - name: Check go fmt
      run: if [ "$(gofmt -s -l . | wc -l)" -gt 0 ]; then exit 1; fi

    - name: Install staticcheck
      run: go install honnef.co/go/tools/cmd/staticcheck@latest
    - name: Run staticcheck
      run: staticcheck ./...

    #- name: Install golint
    #  run: go install golang.org/x/lint/golint@latest
    #- name: Run golint
    #  run: golint ./...

    - name: Run tests
      run: go test -race -vet=off ./...

    
    # build UI package
    - name: Build UI package
      run: |
        make build-ui
    